<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.CharacterSetsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.CharacterSets">
    <result column="CHARACTER_SET_NAME" jdbcType="VARCHAR" property="characterSetName" />
    <result column="DEFAULT_COLLATE_NAME" jdbcType="VARCHAR" property="defaultCollateName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="MAXLEN" jdbcType="BIGINT" property="maxlen" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.CharacterSets">
    insert into CHARACTER_SETS (CHARACTER_SET_NAME, DEFAULT_COLLATE_NAME, 
      DESCRIPTION, MAXLEN)
    values (#{characterSetName,jdbcType=VARCHAR}, #{defaultCollateName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{maxlen,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.CharacterSets">
    insert into CHARACTER_SETS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="characterSetName != null">
        CHARACTER_SET_NAME,
      </if>
      <if test="defaultCollateName != null">
        DEFAULT_COLLATE_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="maxlen != null">
        MAXLEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=VARCHAR},
      </if>
      <if test="defaultCollateName != null">
        #{defaultCollateName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="maxlen != null">
        #{maxlen,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>