<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.ColumnsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Columns">
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="COLUMN_NAME" jdbcType="VARCHAR" property="columnName" />
    <result column="ORDINAL_POSITION" jdbcType="BIGINT" property="ordinalPosition" />
    <result column="IS_NULLABLE" jdbcType="VARCHAR" property="isNullable" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="CHARACTER_MAXIMUM_LENGTH" jdbcType="BIGINT" property="characterMaximumLength" />
    <result column="CHARACTER_OCTET_LENGTH" jdbcType="BIGINT" property="characterOctetLength" />
    <result column="NUMERIC_PRECISION" jdbcType="BIGINT" property="numericPrecision" />
    <result column="NUMERIC_SCALE" jdbcType="BIGINT" property="numericScale" />
    <result column="DATETIME_PRECISION" jdbcType="BIGINT" property="datetimePrecision" />
    <result column="CHARACTER_SET_NAME" jdbcType="VARCHAR" property="characterSetName" />
    <result column="COLLATION_NAME" jdbcType="VARCHAR" property="collationName" />
    <result column="COLUMN_KEY" jdbcType="VARCHAR" property="columnKey" />
    <result column="EXTRA" jdbcType="VARCHAR" property="extra" />
    <result column="PRIVILEGES" jdbcType="VARCHAR" property="privileges" />
    <result column="COLUMN_COMMENT" jdbcType="VARCHAR" property="columnComment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.ColumnsWithBLOBs">
    <result column="COLUMN_DEFAULT" jdbcType="LONGVARCHAR" property="columnDefault" />
    <result column="COLUMN_TYPE" jdbcType="LONGVARCHAR" property="columnType" />
    <result column="GENERATION_EXPRESSION" jdbcType="LONGVARCHAR" property="generationExpression" />
  </resultMap>
  <sql id="Blob_Column_List">
    COLUMN_DEFAULT, COLUMN_TYPE, GENERATION_EXPRESSION
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.ColumnsWithBLOBs">
    insert into COLUMNS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      COLUMN_NAME, ORDINAL_POSITION, IS_NULLABLE, 
      DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, CHARACTER_OCTET_LENGTH, 
      NUMERIC_PRECISION, NUMERIC_SCALE, DATETIME_PRECISION, 
      CHARACTER_SET_NAME, COLLATION_NAME, COLUMN_KEY, 
      EXTRA, PRIVILEGES, COLUMN_COMMENT, 
      COLUMN_DEFAULT, COLUMN_TYPE, GENERATION_EXPRESSION
      )
    values (#{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{columnName,jdbcType=VARCHAR}, #{ordinalPosition,jdbcType=BIGINT}, #{isNullable,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{characterMaximumLength,jdbcType=BIGINT}, #{characterOctetLength,jdbcType=BIGINT}, 
      #{numericPrecision,jdbcType=BIGINT}, #{numericScale,jdbcType=BIGINT}, #{datetimePrecision,jdbcType=BIGINT}, 
      #{characterSetName,jdbcType=VARCHAR}, #{collationName,jdbcType=VARCHAR}, #{columnKey,jdbcType=VARCHAR}, 
      #{extra,jdbcType=VARCHAR}, #{privileges,jdbcType=VARCHAR}, #{columnComment,jdbcType=VARCHAR}, 
      #{columnDefault,jdbcType=LONGVARCHAR}, #{columnType,jdbcType=LONGVARCHAR}, #{generationExpression,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.ColumnsWithBLOBs">
    insert into COLUMNS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="ordinalPosition != null">
        ORDINAL_POSITION,
      </if>
      <if test="isNullable != null">
        IS_NULLABLE,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="characterMaximumLength != null">
        CHARACTER_MAXIMUM_LENGTH,
      </if>
      <if test="characterOctetLength != null">
        CHARACTER_OCTET_LENGTH,
      </if>
      <if test="numericPrecision != null">
        NUMERIC_PRECISION,
      </if>
      <if test="numericScale != null">
        NUMERIC_SCALE,
      </if>
      <if test="datetimePrecision != null">
        DATETIME_PRECISION,
      </if>
      <if test="characterSetName != null">
        CHARACTER_SET_NAME,
      </if>
      <if test="collationName != null">
        COLLATION_NAME,
      </if>
      <if test="columnKey != null">
        COLUMN_KEY,
      </if>
      <if test="extra != null">
        EXTRA,
      </if>
      <if test="privileges != null">
        PRIVILEGES,
      </if>
      <if test="columnComment != null">
        COLUMN_COMMENT,
      </if>
      <if test="columnDefault != null">
        COLUMN_DEFAULT,
      </if>
      <if test="columnType != null">
        COLUMN_TYPE,
      </if>
      <if test="generationExpression != null">
        GENERATION_EXPRESSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="ordinalPosition != null">
        #{ordinalPosition,jdbcType=BIGINT},
      </if>
      <if test="isNullable != null">
        #{isNullable,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="characterMaximumLength != null">
        #{characterMaximumLength,jdbcType=BIGINT},
      </if>
      <if test="characterOctetLength != null">
        #{characterOctetLength,jdbcType=BIGINT},
      </if>
      <if test="numericPrecision != null">
        #{numericPrecision,jdbcType=BIGINT},
      </if>
      <if test="numericScale != null">
        #{numericScale,jdbcType=BIGINT},
      </if>
      <if test="datetimePrecision != null">
        #{datetimePrecision,jdbcType=BIGINT},
      </if>
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=VARCHAR},
      </if>
      <if test="collationName != null">
        #{collationName,jdbcType=VARCHAR},
      </if>
      <if test="columnKey != null">
        #{columnKey,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="privileges != null">
        #{privileges,jdbcType=VARCHAR},
      </if>
      <if test="columnComment != null">
        #{columnComment,jdbcType=VARCHAR},
      </if>
      <if test="columnDefault != null">
        #{columnDefault,jdbcType=LONGVARCHAR},
      </if>
      <if test="columnType != null">
        #{columnType,jdbcType=LONGVARCHAR},
      </if>
      <if test="generationExpression != null">
        #{generationExpression,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>