<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.ColumnsPrivMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.ColumnsPriv">
    <result column="Host" jdbcType="CHAR" property="host" />
    <result column="Db" jdbcType="CHAR" property="db" />
    <result column="User" jdbcType="CHAR" property="user" />
    <result column="Table_name" jdbcType="CHAR" property="tableName" />
    <result column="Column_name" jdbcType="CHAR" property="columnName" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="Column_priv" jdbcType="CHAR" property="columnPriv" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.ColumnsPriv">
    insert into columns_priv (Host, Db, User, Table_name, 
      Column_name, Timestamp, Column_priv
      )
    values (#{host,jdbcType=CHAR}, #{db,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{tableName,jdbcType=CHAR}, 
      #{columnName,jdbcType=CHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{columnPriv,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.ColumnsPriv">
    insert into columns_priv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        Host,
      </if>
      <if test="db != null">
        Db,
      </if>
      <if test="user != null">
        User,
      </if>
      <if test="tableName != null">
        Table_name,
      </if>
      <if test="columnName != null">
        Column_name,
      </if>
      <if test="timestamp != null">
        Timestamp,
      </if>
      <if test="columnPriv != null">
        Column_priv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="db != null">
        #{db,jdbcType=CHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=CHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=CHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="columnPriv != null">
        #{columnPriv,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>