<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.ColumnPrivilegesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.ColumnPrivileges">
    <result column="GRANTEE" jdbcType="VARCHAR" property="grantee" />
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="COLUMN_NAME" jdbcType="VARCHAR" property="columnName" />
    <result column="PRIVILEGE_TYPE" jdbcType="VARCHAR" property="privilegeType" />
    <result column="IS_GRANTABLE" jdbcType="VARCHAR" property="isGrantable" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.ColumnPrivileges">
    insert into COLUMN_PRIVILEGES (GRANTEE, TABLE_CATALOG, TABLE_SCHEMA, 
      TABLE_NAME, COLUMN_NAME, PRIVILEGE_TYPE, 
      IS_GRANTABLE)
    values (#{grantee,jdbcType=VARCHAR}, #{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, #{privilegeType,jdbcType=VARCHAR}, 
      #{isGrantable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.ColumnPrivileges">
    insert into COLUMN_PRIVILEGES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grantee != null">
        GRANTEE,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="privilegeType != null">
        PRIVILEGE_TYPE,
      </if>
      <if test="isGrantable != null">
        IS_GRANTABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grantee != null">
        #{grantee,jdbcType=VARCHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeType != null">
        #{privilegeType,jdbcType=VARCHAR},
      </if>
      <if test="isGrantable != null">
        #{isGrantable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>