<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.DjangoMigrationsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.DjangoMigrations">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="applied" jdbcType="TIMESTAMP" property="applied" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.DjangoMigrations">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into django_migrations (app, name, applied
      )
    values (#{app,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{applied,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.DjangoMigrations">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into django_migrations
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="app != null">
        app,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="applied != null">
        applied,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="app != null">
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="applied != null">
        #{applied,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.Model.DjangoMigrations">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="applied" jdbcType="TIMESTAMP" property="applied" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.DjangoMigrations">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into django_migrations (app, name, applied
      )
    values (#{app,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{applied,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.DjangoMigrations">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into django_migrations
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="app != null">
        app,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="applied != null">
        applied,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="app != null">
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="applied != null">
        #{applied,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>