<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.EngineCostMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.EngineCost">
    <result column="engine_name" jdbcType="VARCHAR" property="engineName" />
    <result column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="cost_name" jdbcType="VARCHAR" property="costName" />
    <result column="cost_value" jdbcType="REAL" property="costValue" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.EngineCost">
    insert into engine_cost (engine_name, device_type, cost_name, 
      cost_value, last_update, comment
      )
    values (#{engineName,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{costName,jdbcType=VARCHAR}, 
      #{costValue,jdbcType=REAL}, #{lastUpdate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.EngineCost">
    insert into engine_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="engineName != null">
        engine_name,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="costName != null">
        cost_name,
      </if>
      <if test="costValue != null">
        cost_value,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="engineName != null">
        #{engineName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="costName != null">
        #{costName,jdbcType=VARCHAR},
      </if>
      <if test="costValue != null">
        #{costValue,jdbcType=REAL},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>