<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.EventsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Events">
    <result column="EVENT_CATALOG" jdbcType="VARCHAR" property="eventCatalog" />
    <result column="EVENT_SCHEMA" jdbcType="VARCHAR" property="eventSchema" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="DEFINER" jdbcType="VARCHAR" property="definer" />
    <result column="TIME_ZONE" jdbcType="VARCHAR" property="timeZone" />
    <result column="EVENT_BODY" jdbcType="VARCHAR" property="eventBody" />
    <result column="EVENT_TYPE" jdbcType="VARCHAR" property="eventType" />
    <result column="EXECUTE_AT" jdbcType="TIMESTAMP" property="executeAt" />
    <result column="INTERVAL_VALUE" jdbcType="VARCHAR" property="intervalValue" />
    <result column="INTERVAL_FIELD" jdbcType="VARCHAR" property="intervalField" />
    <result column="SQL_MODE" jdbcType="VARCHAR" property="sqlMode" />
    <result column="STARTS" jdbcType="TIMESTAMP" property="starts" />
    <result column="ENDS" jdbcType="TIMESTAMP" property="ends" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ON_COMPLETION" jdbcType="VARCHAR" property="onCompletion" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_ALTERED" jdbcType="TIMESTAMP" property="lastAltered" />
    <result column="LAST_EXECUTED" jdbcType="TIMESTAMP" property="lastExecuted" />
    <result column="EVENT_COMMENT" jdbcType="VARCHAR" property="eventComment" />
    <result column="ORIGINATOR" jdbcType="BIGINT" property="originator" />
    <result column="CHARACTER_SET_CLIENT" jdbcType="VARCHAR" property="characterSetClient" />
    <result column="COLLATION_CONNECTION" jdbcType="VARCHAR" property="collationConnection" />
    <result column="DATABASE_COLLATION" jdbcType="VARCHAR" property="databaseCollation" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.Events">
    <result column="EVENT_DEFINITION" jdbcType="LONGVARCHAR" property="eventDefinition" />
  </resultMap>
  <sql id="Blob_Column_List">
    EVENT_DEFINITION
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.Events">
    insert into EVENTS (EVENT_CATALOG, EVENT_SCHEMA, EVENT_NAME, 
      DEFINER, TIME_ZONE, EVENT_BODY, 
      EVENT_TYPE, EXECUTE_AT, INTERVAL_VALUE, 
      INTERVAL_FIELD, SQL_MODE, STARTS, 
      ENDS, STATUS, ON_COMPLETION, 
      CREATED, LAST_ALTERED, LAST_EXECUTED, 
      EVENT_COMMENT, ORIGINATOR, CHARACTER_SET_CLIENT, 
      COLLATION_CONNECTION, DATABASE_COLLATION, 
      EVENT_DEFINITION)
    values (#{eventCatalog,jdbcType=VARCHAR}, #{eventSchema,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, 
      #{definer,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, #{eventBody,jdbcType=VARCHAR}, 
      #{eventType,jdbcType=VARCHAR}, #{executeAt,jdbcType=TIMESTAMP}, #{intervalValue,jdbcType=VARCHAR}, 
      #{intervalField,jdbcType=VARCHAR}, #{sqlMode,jdbcType=VARCHAR}, #{starts,jdbcType=TIMESTAMP}, 
      #{ends,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{onCompletion,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{lastAltered,jdbcType=TIMESTAMP}, #{lastExecuted,jdbcType=TIMESTAMP}, 
      #{eventComment,jdbcType=VARCHAR}, #{originator,jdbcType=BIGINT}, #{characterSetClient,jdbcType=VARCHAR}, 
      #{collationConnection,jdbcType=VARCHAR}, #{databaseCollation,jdbcType=VARCHAR}, 
      #{eventDefinition,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.Events">
    insert into EVENTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventCatalog != null">
        EVENT_CATALOG,
      </if>
      <if test="eventSchema != null">
        EVENT_SCHEMA,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="definer != null">
        DEFINER,
      </if>
      <if test="timeZone != null">
        TIME_ZONE,
      </if>
      <if test="eventBody != null">
        EVENT_BODY,
      </if>
      <if test="eventType != null">
        EVENT_TYPE,
      </if>
      <if test="executeAt != null">
        EXECUTE_AT,
      </if>
      <if test="intervalValue != null">
        INTERVAL_VALUE,
      </if>
      <if test="intervalField != null">
        INTERVAL_FIELD,
      </if>
      <if test="sqlMode != null">
        SQL_MODE,
      </if>
      <if test="starts != null">
        STARTS,
      </if>
      <if test="ends != null">
        ENDS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="onCompletion != null">
        ON_COMPLETION,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="lastAltered != null">
        LAST_ALTERED,
      </if>
      <if test="lastExecuted != null">
        LAST_EXECUTED,
      </if>
      <if test="eventComment != null">
        EVENT_COMMENT,
      </if>
      <if test="originator != null">
        ORIGINATOR,
      </if>
      <if test="characterSetClient != null">
        CHARACTER_SET_CLIENT,
      </if>
      <if test="collationConnection != null">
        COLLATION_CONNECTION,
      </if>
      <if test="databaseCollation != null">
        DATABASE_COLLATION,
      </if>
      <if test="eventDefinition != null">
        EVENT_DEFINITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventCatalog != null">
        #{eventCatalog,jdbcType=VARCHAR},
      </if>
      <if test="eventSchema != null">
        #{eventSchema,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="definer != null">
        #{definer,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null">
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="eventBody != null">
        #{eventBody,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="executeAt != null">
        #{executeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalValue != null">
        #{intervalValue,jdbcType=VARCHAR},
      </if>
      <if test="intervalField != null">
        #{intervalField,jdbcType=VARCHAR},
      </if>
      <if test="sqlMode != null">
        #{sqlMode,jdbcType=VARCHAR},
      </if>
      <if test="starts != null">
        #{starts,jdbcType=TIMESTAMP},
      </if>
      <if test="ends != null">
        #{ends,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="onCompletion != null">
        #{onCompletion,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAltered != null">
        #{lastAltered,jdbcType=TIMESTAMP},
      </if>
      <if test="lastExecuted != null">
        #{lastExecuted,jdbcType=TIMESTAMP},
      </if>
      <if test="eventComment != null">
        #{eventComment,jdbcType=VARCHAR},
      </if>
      <if test="originator != null">
        #{originator,jdbcType=BIGINT},
      </if>
      <if test="characterSetClient != null">
        #{characterSetClient,jdbcType=VARCHAR},
      </if>
      <if test="collationConnection != null">
        #{collationConnection,jdbcType=VARCHAR},
      </if>
      <if test="databaseCollation != null">
        #{databaseCollation,jdbcType=VARCHAR},
      </if>
      <if test="eventDefinition != null">
        #{eventDefinition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>