<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.EventsStagesCurrentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.EventsStagesCurrent">
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="EVENT_ID" jdbcType="BIGINT" property="eventId" />
    <result column="END_EVENT_ID" jdbcType="BIGINT" property="endEventId" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="TIMER_START" jdbcType="BIGINT" property="timerStart" />
    <result column="TIMER_END" jdbcType="BIGINT" property="timerEnd" />
    <result column="TIMER_WAIT" jdbcType="BIGINT" property="timerWait" />
    <result column="WORK_COMPLETED" jdbcType="BIGINT" property="workCompleted" />
    <result column="WORK_ESTIMATED" jdbcType="BIGINT" property="workEstimated" />
    <result column="NESTING_EVENT_ID" jdbcType="BIGINT" property="nestingEventId" />
    <result column="NESTING_EVENT_TYPE" jdbcType="CHAR" property="nestingEventType" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.EventsStagesCurrent">
    insert into events_stages_current (THREAD_ID, EVENT_ID, END_EVENT_ID, 
      EVENT_NAME, SOURCE, TIMER_START, 
      TIMER_END, TIMER_WAIT, WORK_COMPLETED, 
      WORK_ESTIMATED, NESTING_EVENT_ID, NESTING_EVENT_TYPE
      )
    values (#{threadId,jdbcType=BIGINT}, #{eventId,jdbcType=BIGINT}, #{endEventId,jdbcType=BIGINT}, 
      #{eventName,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{timerStart,jdbcType=BIGINT}, 
      #{timerEnd,jdbcType=BIGINT}, #{timerWait,jdbcType=BIGINT}, #{workCompleted,jdbcType=BIGINT}, 
      #{workEstimated,jdbcType=BIGINT}, #{nestingEventId,jdbcType=BIGINT}, #{nestingEventType,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.EventsStagesCurrent">
    insert into events_stages_current
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="eventId != null">
        EVENT_ID,
      </if>
      <if test="endEventId != null">
        END_EVENT_ID,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="timerStart != null">
        TIMER_START,
      </if>
      <if test="timerEnd != null">
        TIMER_END,
      </if>
      <if test="timerWait != null">
        TIMER_WAIT,
      </if>
      <if test="workCompleted != null">
        WORK_COMPLETED,
      </if>
      <if test="workEstimated != null">
        WORK_ESTIMATED,
      </if>
      <if test="nestingEventId != null">
        NESTING_EVENT_ID,
      </if>
      <if test="nestingEventType != null">
        NESTING_EVENT_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="endEventId != null">
        #{endEventId,jdbcType=BIGINT},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="timerStart != null">
        #{timerStart,jdbcType=BIGINT},
      </if>
      <if test="timerEnd != null">
        #{timerEnd,jdbcType=BIGINT},
      </if>
      <if test="timerWait != null">
        #{timerWait,jdbcType=BIGINT},
      </if>
      <if test="workCompleted != null">
        #{workCompleted,jdbcType=BIGINT},
      </if>
      <if test="workEstimated != null">
        #{workEstimated,jdbcType=BIGINT},
      </if>
      <if test="nestingEventId != null">
        #{nestingEventId,jdbcType=BIGINT},
      </if>
      <if test="nestingEventType != null">
        #{nestingEventType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>