<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.EventsStatementsHistoryMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.EventsStatementsHistory">
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="EVENT_ID" jdbcType="BIGINT" property="eventId" />
    <result column="END_EVENT_ID" jdbcType="BIGINT" property="endEventId" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="TIMER_START" jdbcType="BIGINT" property="timerStart" />
    <result column="TIMER_END" jdbcType="BIGINT" property="timerEnd" />
    <result column="TIMER_WAIT" jdbcType="BIGINT" property="timerWait" />
    <result column="LOCK_TIME" jdbcType="BIGINT" property="lockTime" />
    <result column="DIGEST" jdbcType="VARCHAR" property="digest" />
    <result column="CURRENT_SCHEMA" jdbcType="VARCHAR" property="currentSchema" />
    <result column="OBJECT_TYPE" jdbcType="VARCHAR" property="objectType" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="MYSQL_ERRNO" jdbcType="INTEGER" property="mysqlErrno" />
    <result column="RETURNED_SQLSTATE" jdbcType="VARCHAR" property="returnedSqlstate" />
    <result column="MESSAGE_TEXT" jdbcType="VARCHAR" property="messageText" />
    <result column="ERRORS" jdbcType="BIGINT" property="errors" />
    <result column="WARNINGS" jdbcType="BIGINT" property="warnings" />
    <result column="ROWS_AFFECTED" jdbcType="BIGINT" property="rowsAffected" />
    <result column="ROWS_SENT" jdbcType="BIGINT" property="rowsSent" />
    <result column="ROWS_EXAMINED" jdbcType="BIGINT" property="rowsExamined" />
    <result column="CREATED_TMP_DISK_TABLES" jdbcType="BIGINT" property="createdTmpDiskTables" />
    <result column="CREATED_TMP_TABLES" jdbcType="BIGINT" property="createdTmpTables" />
    <result column="SELECT_FULL_JOIN" jdbcType="BIGINT" property="selectFullJoin" />
    <result column="SELECT_FULL_RANGE_JOIN" jdbcType="BIGINT" property="selectFullRangeJoin" />
    <result column="SELECT_RANGE" jdbcType="BIGINT" property="selectRange" />
    <result column="SELECT_RANGE_CHECK" jdbcType="BIGINT" property="selectRangeCheck" />
    <result column="SELECT_SCAN" jdbcType="BIGINT" property="selectScan" />
    <result column="SORT_MERGE_PASSES" jdbcType="BIGINT" property="sortMergePasses" />
    <result column="SORT_RANGE" jdbcType="BIGINT" property="sortRange" />
    <result column="SORT_ROWS" jdbcType="BIGINT" property="sortRows" />
    <result column="SORT_SCAN" jdbcType="BIGINT" property="sortScan" />
    <result column="NO_INDEX_USED" jdbcType="BIGINT" property="noIndexUsed" />
    <result column="NO_GOOD_INDEX_USED" jdbcType="BIGINT" property="noGoodIndexUsed" />
    <result column="NESTING_EVENT_ID" jdbcType="BIGINT" property="nestingEventId" />
    <result column="NESTING_EVENT_TYPE" jdbcType="CHAR" property="nestingEventType" />
    <result column="NESTING_EVENT_LEVEL" jdbcType="INTEGER" property="nestingEventLevel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.EventsStatementsHistoryWithBLOBs">
    <result column="SQL_TEXT" jdbcType="LONGVARCHAR" property="sqlText" />
    <result column="DIGEST_TEXT" jdbcType="LONGVARCHAR" property="digestText" />
  </resultMap>
  <sql id="Blob_Column_List">
    SQL_TEXT, DIGEST_TEXT
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.EventsStatementsHistoryWithBLOBs">
    insert into events_statements_history (THREAD_ID, EVENT_ID, END_EVENT_ID, 
      EVENT_NAME, SOURCE, TIMER_START, 
      TIMER_END, TIMER_WAIT, LOCK_TIME, 
      DIGEST, CURRENT_SCHEMA, OBJECT_TYPE, 
      OBJECT_SCHEMA, OBJECT_NAME, OBJECT_INSTANCE_BEGIN, 
      MYSQL_ERRNO, RETURNED_SQLSTATE, MESSAGE_TEXT, 
      ERRORS, WARNINGS, ROWS_AFFECTED, 
      ROWS_SENT, ROWS_EXAMINED, CREATED_TMP_DISK_TABLES, 
      CREATED_TMP_TABLES, SELECT_FULL_JOIN, SELECT_FULL_RANGE_JOIN, 
      SELECT_RANGE, SELECT_RANGE_CHECK, SELECT_SCAN, 
      SORT_MERGE_PASSES, SORT_RANGE, SORT_ROWS, 
      SORT_SCAN, NO_INDEX_USED, NO_GOOD_INDEX_USED, 
      NESTING_EVENT_ID, NESTING_EVENT_TYPE, NESTING_EVENT_LEVEL, 
      SQL_TEXT, DIGEST_TEXT)
    values (#{threadId,jdbcType=BIGINT}, #{eventId,jdbcType=BIGINT}, #{endEventId,jdbcType=BIGINT}, 
      #{eventName,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{timerStart,jdbcType=BIGINT}, 
      #{timerEnd,jdbcType=BIGINT}, #{timerWait,jdbcType=BIGINT}, #{lockTime,jdbcType=BIGINT}, 
      #{digest,jdbcType=VARCHAR}, #{currentSchema,jdbcType=VARCHAR}, #{objectType,jdbcType=VARCHAR}, 
      #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{objectInstanceBegin,jdbcType=BIGINT}, 
      #{mysqlErrno,jdbcType=INTEGER}, #{returnedSqlstate,jdbcType=VARCHAR}, #{messageText,jdbcType=VARCHAR}, 
      #{errors,jdbcType=BIGINT}, #{warnings,jdbcType=BIGINT}, #{rowsAffected,jdbcType=BIGINT}, 
      #{rowsSent,jdbcType=BIGINT}, #{rowsExamined,jdbcType=BIGINT}, #{createdTmpDiskTables,jdbcType=BIGINT}, 
      #{createdTmpTables,jdbcType=BIGINT}, #{selectFullJoin,jdbcType=BIGINT}, #{selectFullRangeJoin,jdbcType=BIGINT}, 
      #{selectRange,jdbcType=BIGINT}, #{selectRangeCheck,jdbcType=BIGINT}, #{selectScan,jdbcType=BIGINT}, 
      #{sortMergePasses,jdbcType=BIGINT}, #{sortRange,jdbcType=BIGINT}, #{sortRows,jdbcType=BIGINT}, 
      #{sortScan,jdbcType=BIGINT}, #{noIndexUsed,jdbcType=BIGINT}, #{noGoodIndexUsed,jdbcType=BIGINT}, 
      #{nestingEventId,jdbcType=BIGINT}, #{nestingEventType,jdbcType=CHAR}, #{nestingEventLevel,jdbcType=INTEGER}, 
      #{sqlText,jdbcType=LONGVARCHAR}, #{digestText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.EventsStatementsHistoryWithBLOBs">
    insert into events_statements_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="eventId != null">
        EVENT_ID,
      </if>
      <if test="endEventId != null">
        END_EVENT_ID,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="timerStart != null">
        TIMER_START,
      </if>
      <if test="timerEnd != null">
        TIMER_END,
      </if>
      <if test="timerWait != null">
        TIMER_WAIT,
      </if>
      <if test="lockTime != null">
        LOCK_TIME,
      </if>
      <if test="digest != null">
        DIGEST,
      </if>
      <if test="currentSchema != null">
        CURRENT_SCHEMA,
      </if>
      <if test="objectType != null">
        OBJECT_TYPE,
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null">
        OBJECT_NAME,
      </if>
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="mysqlErrno != null">
        MYSQL_ERRNO,
      </if>
      <if test="returnedSqlstate != null">
        RETURNED_SQLSTATE,
      </if>
      <if test="messageText != null">
        MESSAGE_TEXT,
      </if>
      <if test="errors != null">
        ERRORS,
      </if>
      <if test="warnings != null">
        WARNINGS,
      </if>
      <if test="rowsAffected != null">
        ROWS_AFFECTED,
      </if>
      <if test="rowsSent != null">
        ROWS_SENT,
      </if>
      <if test="rowsExamined != null">
        ROWS_EXAMINED,
      </if>
      <if test="createdTmpDiskTables != null">
        CREATED_TMP_DISK_TABLES,
      </if>
      <if test="createdTmpTables != null">
        CREATED_TMP_TABLES,
      </if>
      <if test="selectFullJoin != null">
        SELECT_FULL_JOIN,
      </if>
      <if test="selectFullRangeJoin != null">
        SELECT_FULL_RANGE_JOIN,
      </if>
      <if test="selectRange != null">
        SELECT_RANGE,
      </if>
      <if test="selectRangeCheck != null">
        SELECT_RANGE_CHECK,
      </if>
      <if test="selectScan != null">
        SELECT_SCAN,
      </if>
      <if test="sortMergePasses != null">
        SORT_MERGE_PASSES,
      </if>
      <if test="sortRange != null">
        SORT_RANGE,
      </if>
      <if test="sortRows != null">
        SORT_ROWS,
      </if>
      <if test="sortScan != null">
        SORT_SCAN,
      </if>
      <if test="noIndexUsed != null">
        NO_INDEX_USED,
      </if>
      <if test="noGoodIndexUsed != null">
        NO_GOOD_INDEX_USED,
      </if>
      <if test="nestingEventId != null">
        NESTING_EVENT_ID,
      </if>
      <if test="nestingEventType != null">
        NESTING_EVENT_TYPE,
      </if>
      <if test="nestingEventLevel != null">
        NESTING_EVENT_LEVEL,
      </if>
      <if test="sqlText != null">
        SQL_TEXT,
      </if>
      <if test="digestText != null">
        DIGEST_TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="endEventId != null">
        #{endEventId,jdbcType=BIGINT},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="timerStart != null">
        #{timerStart,jdbcType=BIGINT},
      </if>
      <if test="timerEnd != null">
        #{timerEnd,jdbcType=BIGINT},
      </if>
      <if test="timerWait != null">
        #{timerWait,jdbcType=BIGINT},
      </if>
      <if test="lockTime != null">
        #{lockTime,jdbcType=BIGINT},
      </if>
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="currentSchema != null">
        #{currentSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null">
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null">
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="mysqlErrno != null">
        #{mysqlErrno,jdbcType=INTEGER},
      </if>
      <if test="returnedSqlstate != null">
        #{returnedSqlstate,jdbcType=VARCHAR},
      </if>
      <if test="messageText != null">
        #{messageText,jdbcType=VARCHAR},
      </if>
      <if test="errors != null">
        #{errors,jdbcType=BIGINT},
      </if>
      <if test="warnings != null">
        #{warnings,jdbcType=BIGINT},
      </if>
      <if test="rowsAffected != null">
        #{rowsAffected,jdbcType=BIGINT},
      </if>
      <if test="rowsSent != null">
        #{rowsSent,jdbcType=BIGINT},
      </if>
      <if test="rowsExamined != null">
        #{rowsExamined,jdbcType=BIGINT},
      </if>
      <if test="createdTmpDiskTables != null">
        #{createdTmpDiskTables,jdbcType=BIGINT},
      </if>
      <if test="createdTmpTables != null">
        #{createdTmpTables,jdbcType=BIGINT},
      </if>
      <if test="selectFullJoin != null">
        #{selectFullJoin,jdbcType=BIGINT},
      </if>
      <if test="selectFullRangeJoin != null">
        #{selectFullRangeJoin,jdbcType=BIGINT},
      </if>
      <if test="selectRange != null">
        #{selectRange,jdbcType=BIGINT},
      </if>
      <if test="selectRangeCheck != null">
        #{selectRangeCheck,jdbcType=BIGINT},
      </if>
      <if test="selectScan != null">
        #{selectScan,jdbcType=BIGINT},
      </if>
      <if test="sortMergePasses != null">
        #{sortMergePasses,jdbcType=BIGINT},
      </if>
      <if test="sortRange != null">
        #{sortRange,jdbcType=BIGINT},
      </if>
      <if test="sortRows != null">
        #{sortRows,jdbcType=BIGINT},
      </if>
      <if test="sortScan != null">
        #{sortScan,jdbcType=BIGINT},
      </if>
      <if test="noIndexUsed != null">
        #{noIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="noGoodIndexUsed != null">
        #{noGoodIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="nestingEventId != null">
        #{nestingEventId,jdbcType=BIGINT},
      </if>
      <if test="nestingEventType != null">
        #{nestingEventType,jdbcType=CHAR},
      </if>
      <if test="nestingEventLevel != null">
        #{nestingEventLevel,jdbcType=INTEGER},
      </if>
      <if test="sqlText != null">
        #{sqlText,jdbcType=LONGVARCHAR},
      </if>
      <if test="digestText != null">
        #{digestText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>