<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.FileInstancesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.FileInstances">
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="OPEN_COUNT" jdbcType="INTEGER" property="openCount" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.FileInstances">
    insert into file_instances (FILE_NAME, EVENT_NAME, OPEN_COUNT
      )
    values (#{fileName,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, #{openCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.FileInstances">
    insert into file_instances
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="openCount != null">
        OPEN_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="openCount != null">
        #{openCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>