<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.FilesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Files">
    <result column="FILE_ID" jdbcType="BIGINT" property="fileId" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="LOGFILE_GROUP_NAME" jdbcType="VARCHAR" property="logfileGroupName" />
    <result column="LOGFILE_GROUP_NUMBER" jdbcType="BIGINT" property="logfileGroupNumber" />
    <result column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="FULLTEXT_KEYS" jdbcType="VARCHAR" property="fulltextKeys" />
    <result column="DELETED_ROWS" jdbcType="BIGINT" property="deletedRows" />
    <result column="UPDATE_COUNT" jdbcType="BIGINT" property="updateCount" />
    <result column="FREE_EXTENTS" jdbcType="BIGINT" property="freeExtents" />
    <result column="TOTAL_EXTENTS" jdbcType="BIGINT" property="totalExtents" />
    <result column="EXTENT_SIZE" jdbcType="BIGINT" property="extentSize" />
    <result column="INITIAL_SIZE" jdbcType="BIGINT" property="initialSize" />
    <result column="MAXIMUM_SIZE" jdbcType="BIGINT" property="maximumSize" />
    <result column="AUTOEXTEND_SIZE" jdbcType="BIGINT" property="autoextendSize" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_ACCESS_TIME" jdbcType="TIMESTAMP" property="lastAccessTime" />
    <result column="RECOVER_TIME" jdbcType="BIGINT" property="recoverTime" />
    <result column="TRANSACTION_COUNTER" jdbcType="BIGINT" property="transactionCounter" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="ROW_FORMAT" jdbcType="VARCHAR" property="rowFormat" />
    <result column="TABLE_ROWS" jdbcType="BIGINT" property="tableRows" />
    <result column="AVG_ROW_LENGTH" jdbcType="BIGINT" property="avgRowLength" />
    <result column="DATA_LENGTH" jdbcType="BIGINT" property="dataLength" />
    <result column="MAX_DATA_LENGTH" jdbcType="BIGINT" property="maxDataLength" />
    <result column="INDEX_LENGTH" jdbcType="BIGINT" property="indexLength" />
    <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="CHECKSUM" jdbcType="BIGINT" property="checksum" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EXTRA" jdbcType="VARCHAR" property="extra" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.Files">
    insert into FILES (FILE_ID, FILE_NAME, FILE_TYPE, 
      TABLESPACE_NAME, TABLE_CATALOG, TABLE_SCHEMA, 
      TABLE_NAME, LOGFILE_GROUP_NAME, LOGFILE_GROUP_NUMBER, 
      ENGINE, FULLTEXT_KEYS, DELETED_ROWS, 
      UPDATE_COUNT, FREE_EXTENTS, TOTAL_EXTENTS, 
      EXTENT_SIZE, INITIAL_SIZE, MAXIMUM_SIZE, 
      AUTOEXTEND_SIZE, CREATION_TIME, LAST_UPDATE_TIME, 
      LAST_ACCESS_TIME, RECOVER_TIME, TRANSACTION_COUNTER, 
      VERSION, ROW_FORMAT, TABLE_ROWS, 
      AVG_ROW_LENGTH, DATA_LENGTH, MAX_DATA_LENGTH, 
      INDEX_LENGTH, DATA_FREE, CREATE_TIME, 
      UPDATE_TIME, CHECK_TIME, CHECKSUM, 
      STATUS, EXTRA)
    values (#{fileId,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{tablespaceName,jdbcType=VARCHAR}, #{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{logfileGroupName,jdbcType=VARCHAR}, #{logfileGroupNumber,jdbcType=BIGINT}, 
      #{engine,jdbcType=VARCHAR}, #{fulltextKeys,jdbcType=VARCHAR}, #{deletedRows,jdbcType=BIGINT}, 
      #{updateCount,jdbcType=BIGINT}, #{freeExtents,jdbcType=BIGINT}, #{totalExtents,jdbcType=BIGINT}, 
      #{extentSize,jdbcType=BIGINT}, #{initialSize,jdbcType=BIGINT}, #{maximumSize,jdbcType=BIGINT}, 
      #{autoextendSize,jdbcType=BIGINT}, #{creationTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{lastAccessTime,jdbcType=TIMESTAMP}, #{recoverTime,jdbcType=BIGINT}, #{transactionCounter,jdbcType=BIGINT}, 
      #{version,jdbcType=BIGINT}, #{rowFormat,jdbcType=VARCHAR}, #{tableRows,jdbcType=BIGINT}, 
      #{avgRowLength,jdbcType=BIGINT}, #{dataLength,jdbcType=BIGINT}, #{maxDataLength,jdbcType=BIGINT}, 
      #{indexLength,jdbcType=BIGINT}, #{dataFree,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, #{checksum,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{extra,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.Files">
    insert into FILES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        FILE_ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="tablespaceName != null">
        TABLESPACE_NAME,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="logfileGroupName != null">
        LOGFILE_GROUP_NAME,
      </if>
      <if test="logfileGroupNumber != null">
        LOGFILE_GROUP_NUMBER,
      </if>
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="fulltextKeys != null">
        FULLTEXT_KEYS,
      </if>
      <if test="deletedRows != null">
        DELETED_ROWS,
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT,
      </if>
      <if test="freeExtents != null">
        FREE_EXTENTS,
      </if>
      <if test="totalExtents != null">
        TOTAL_EXTENTS,
      </if>
      <if test="extentSize != null">
        EXTENT_SIZE,
      </if>
      <if test="initialSize != null">
        INITIAL_SIZE,
      </if>
      <if test="maximumSize != null">
        MAXIMUM_SIZE,
      </if>
      <if test="autoextendSize != null">
        AUTOEXTEND_SIZE,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="lastAccessTime != null">
        LAST_ACCESS_TIME,
      </if>
      <if test="recoverTime != null">
        RECOVER_TIME,
      </if>
      <if test="transactionCounter != null">
        TRANSACTION_COUNTER,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="rowFormat != null">
        ROW_FORMAT,
      </if>
      <if test="tableRows != null">
        TABLE_ROWS,
      </if>
      <if test="avgRowLength != null">
        AVG_ROW_LENGTH,
      </if>
      <if test="dataLength != null">
        DATA_LENGTH,
      </if>
      <if test="maxDataLength != null">
        MAX_DATA_LENGTH,
      </if>
      <if test="indexLength != null">
        INDEX_LENGTH,
      </if>
      <if test="dataFree != null">
        DATA_FREE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="checkTime != null">
        CHECK_TIME,
      </if>
      <if test="checksum != null">
        CHECKSUM,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="extra != null">
        EXTRA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceName != null">
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupName != null">
        #{logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupNumber != null">
        #{logfileGroupNumber,jdbcType=BIGINT},
      </if>
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="fulltextKeys != null">
        #{fulltextKeys,jdbcType=VARCHAR},
      </if>
      <if test="deletedRows != null">
        #{deletedRows,jdbcType=BIGINT},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=BIGINT},
      </if>
      <if test="freeExtents != null">
        #{freeExtents,jdbcType=BIGINT},
      </if>
      <if test="totalExtents != null">
        #{totalExtents,jdbcType=BIGINT},
      </if>
      <if test="extentSize != null">
        #{extentSize,jdbcType=BIGINT},
      </if>
      <if test="initialSize != null">
        #{initialSize,jdbcType=BIGINT},
      </if>
      <if test="maximumSize != null">
        #{maximumSize,jdbcType=BIGINT},
      </if>
      <if test="autoextendSize != null">
        #{autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null">
        #{lastAccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recoverTime != null">
        #{recoverTime,jdbcType=BIGINT},
      </if>
      <if test="transactionCounter != null">
        #{transactionCounter,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="rowFormat != null">
        #{rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="tableRows != null">
        #{tableRows,jdbcType=BIGINT},
      </if>
      <if test="avgRowLength != null">
        #{avgRowLength,jdbcType=BIGINT},
      </if>
      <if test="dataLength != null">
        #{dataLength,jdbcType=BIGINT},
      </if>
      <if test="maxDataLength != null">
        #{maxDataLength,jdbcType=BIGINT},
      </if>
      <if test="indexLength != null">
        #{indexLength,jdbcType=BIGINT},
      </if>
      <if test="dataFree != null">
        #{dataFree,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checksum != null">
        #{checksum,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>