<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.GlobalVariablesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.GlobalVariables">
    <result column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
    <result column="VARIABLE_VALUE" jdbcType="VARCHAR" property="variableValue" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.GlobalVariables">
    insert into global_variables (VARIABLE_NAME, VARIABLE_VALUE)
    values (#{variableName,jdbcType=VARCHAR}, #{variableValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.GlobalVariables">
    insert into global_variables
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        VARIABLE_NAME,
      </if>
      <if test="variableValue != null">
        VARIABLE_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableValue != null">
        #{variableValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.example.demo.Model.GlobalVariables">
    <result column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
    <result column="VARIABLE_VALUE" jdbcType="VARCHAR" property="variableValue" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.GlobalVariables">
    insert into GLOBAL_VARIABLES (VARIABLE_NAME, VARIABLE_VALUE)
    values (#{variableName,jdbcType=VARCHAR}, #{variableValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.GlobalVariables">
    insert into GLOBAL_VARIABLES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        VARIABLE_NAME,
      </if>
      <if test="variableValue != null">
        VARIABLE_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableValue != null">
        #{variableValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>