<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.HostSummaryMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.HostSummary">
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="statements" jdbcType="DECIMAL" property="statements" />
    <result column="table_scans" jdbcType="DECIMAL" property="tableScans" />
    <result column="file_ios" jdbcType="DECIMAL" property="fileIos" />
    <result column="current_connections" jdbcType="DECIMAL" property="currentConnections" />
    <result column="total_connections" jdbcType="DECIMAL" property="totalConnections" />
    <result column="unique_users" jdbcType="BIGINT" property="uniqueUsers" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.HostSummaryWithBLOBs">
    <result column="statement_latency" jdbcType="LONGVARCHAR" property="statementLatency" />
    <result column="statement_avg_latency" jdbcType="LONGVARCHAR" property="statementAvgLatency" />
    <result column="file_io_latency" jdbcType="LONGVARCHAR" property="fileIoLatency" />
    <result column="current_memory" jdbcType="LONGVARCHAR" property="currentMemory" />
    <result column="total_memory_allocated" jdbcType="LONGVARCHAR" property="totalMemoryAllocated" />
  </resultMap>
  <sql id="Blob_Column_List">
    statement_latency, statement_avg_latency, file_io_latency, current_memory, total_memory_allocated
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.HostSummaryWithBLOBs">
    insert into host_summary (host, statements, table_scans, 
      file_ios, current_connections, total_connections, 
      unique_users, statement_latency, statement_avg_latency, 
      file_io_latency, current_memory, total_memory_allocated
      )
    values (#{host,jdbcType=VARCHAR}, #{statements,jdbcType=DECIMAL}, #{tableScans,jdbcType=DECIMAL}, 
      #{fileIos,jdbcType=DECIMAL}, #{currentConnections,jdbcType=DECIMAL}, #{totalConnections,jdbcType=DECIMAL}, 
      #{uniqueUsers,jdbcType=BIGINT}, #{statementLatency,jdbcType=LONGVARCHAR}, #{statementAvgLatency,jdbcType=LONGVARCHAR}, 
      #{fileIoLatency,jdbcType=LONGVARCHAR}, #{currentMemory,jdbcType=LONGVARCHAR}, #{totalMemoryAllocated,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.HostSummaryWithBLOBs">
    insert into host_summary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        host,
      </if>
      <if test="statements != null">
        statements,
      </if>
      <if test="tableScans != null">
        table_scans,
      </if>
      <if test="fileIos != null">
        file_ios,
      </if>
      <if test="currentConnections != null">
        current_connections,
      </if>
      <if test="totalConnections != null">
        total_connections,
      </if>
      <if test="uniqueUsers != null">
        unique_users,
      </if>
      <if test="statementLatency != null">
        statement_latency,
      </if>
      <if test="statementAvgLatency != null">
        statement_avg_latency,
      </if>
      <if test="fileIoLatency != null">
        file_io_latency,
      </if>
      <if test="currentMemory != null">
        current_memory,
      </if>
      <if test="totalMemoryAllocated != null">
        total_memory_allocated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="statements != null">
        #{statements,jdbcType=DECIMAL},
      </if>
      <if test="tableScans != null">
        #{tableScans,jdbcType=DECIMAL},
      </if>
      <if test="fileIos != null">
        #{fileIos,jdbcType=DECIMAL},
      </if>
      <if test="currentConnections != null">
        #{currentConnections,jdbcType=DECIMAL},
      </if>
      <if test="totalConnections != null">
        #{totalConnections,jdbcType=DECIMAL},
      </if>
      <if test="uniqueUsers != null">
        #{uniqueUsers,jdbcType=BIGINT},
      </if>
      <if test="statementLatency != null">
        #{statementLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="statementAvgLatency != null">
        #{statementAvgLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="fileIoLatency != null">
        #{fileIoLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="currentMemory != null">
        #{currentMemory,jdbcType=LONGVARCHAR},
      </if>
      <if test="totalMemoryAllocated != null">
        #{totalMemoryAllocated,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>