<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.InnodbBufferPageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.InnodbBufferPage">
    <result column="POOL_ID" jdbcType="BIGINT" property="poolId" />
    <result column="BLOCK_ID" jdbcType="BIGINT" property="blockId" />
    <result column="SPACE" jdbcType="BIGINT" property="space" />
    <result column="PAGE_NUMBER" jdbcType="BIGINT" property="pageNumber" />
    <result column="PAGE_TYPE" jdbcType="VARCHAR" property="pageType" />
    <result column="FLUSH_TYPE" jdbcType="BIGINT" property="flushType" />
    <result column="FIX_COUNT" jdbcType="BIGINT" property="fixCount" />
    <result column="IS_HASHED" jdbcType="VARCHAR" property="isHashed" />
    <result column="NEWEST_MODIFICATION" jdbcType="BIGINT" property="newestModification" />
    <result column="OLDEST_MODIFICATION" jdbcType="BIGINT" property="oldestModification" />
    <result column="ACCESS_TIME" jdbcType="BIGINT" property="accessTime" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="INDEX_NAME" jdbcType="VARCHAR" property="indexName" />
    <result column="NUMBER_RECORDS" jdbcType="BIGINT" property="numberRecords" />
    <result column="DATA_SIZE" jdbcType="BIGINT" property="dataSize" />
    <result column="COMPRESSED_SIZE" jdbcType="BIGINT" property="compressedSize" />
    <result column="PAGE_STATE" jdbcType="VARCHAR" property="pageState" />
    <result column="IO_FIX" jdbcType="VARCHAR" property="ioFix" />
    <result column="IS_OLD" jdbcType="VARCHAR" property="isOld" />
    <result column="FREE_PAGE_CLOCK" jdbcType="BIGINT" property="freePageClock" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.InnodbBufferPage">
    insert into INNODB_BUFFER_PAGE (POOL_ID, BLOCK_ID, SPACE, 
      PAGE_NUMBER, PAGE_TYPE, FLUSH_TYPE, 
      FIX_COUNT, IS_HASHED, NEWEST_MODIFICATION, 
      OLDEST_MODIFICATION, ACCESS_TIME, TABLE_NAME, 
      INDEX_NAME, NUMBER_RECORDS, DATA_SIZE, 
      COMPRESSED_SIZE, PAGE_STATE, IO_FIX, 
      IS_OLD, FREE_PAGE_CLOCK)
    values (#{poolId,jdbcType=BIGINT}, #{blockId,jdbcType=BIGINT}, #{space,jdbcType=BIGINT}, 
      #{pageNumber,jdbcType=BIGINT}, #{pageType,jdbcType=VARCHAR}, #{flushType,jdbcType=BIGINT}, 
      #{fixCount,jdbcType=BIGINT}, #{isHashed,jdbcType=VARCHAR}, #{newestModification,jdbcType=BIGINT}, 
      #{oldestModification,jdbcType=BIGINT}, #{accessTime,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, 
      #{indexName,jdbcType=VARCHAR}, #{numberRecords,jdbcType=BIGINT}, #{dataSize,jdbcType=BIGINT}, 
      #{compressedSize,jdbcType=BIGINT}, #{pageState,jdbcType=VARCHAR}, #{ioFix,jdbcType=VARCHAR}, 
      #{isOld,jdbcType=VARCHAR}, #{freePageClock,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.InnodbBufferPage">
    insert into INNODB_BUFFER_PAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="poolId != null">
        POOL_ID,
      </if>
      <if test="blockId != null">
        BLOCK_ID,
      </if>
      <if test="space != null">
        SPACE,
      </if>
      <if test="pageNumber != null">
        PAGE_NUMBER,
      </if>
      <if test="pageType != null">
        PAGE_TYPE,
      </if>
      <if test="flushType != null">
        FLUSH_TYPE,
      </if>
      <if test="fixCount != null">
        FIX_COUNT,
      </if>
      <if test="isHashed != null">
        IS_HASHED,
      </if>
      <if test="newestModification != null">
        NEWEST_MODIFICATION,
      </if>
      <if test="oldestModification != null">
        OLDEST_MODIFICATION,
      </if>
      <if test="accessTime != null">
        ACCESS_TIME,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="indexName != null">
        INDEX_NAME,
      </if>
      <if test="numberRecords != null">
        NUMBER_RECORDS,
      </if>
      <if test="dataSize != null">
        DATA_SIZE,
      </if>
      <if test="compressedSize != null">
        COMPRESSED_SIZE,
      </if>
      <if test="pageState != null">
        PAGE_STATE,
      </if>
      <if test="ioFix != null">
        IO_FIX,
      </if>
      <if test="isOld != null">
        IS_OLD,
      </if>
      <if test="freePageClock != null">
        FREE_PAGE_CLOCK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="poolId != null">
        #{poolId,jdbcType=BIGINT},
      </if>
      <if test="blockId != null">
        #{blockId,jdbcType=BIGINT},
      </if>
      <if test="space != null">
        #{space,jdbcType=BIGINT},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=BIGINT},
      </if>
      <if test="pageType != null">
        #{pageType,jdbcType=VARCHAR},
      </if>
      <if test="flushType != null">
        #{flushType,jdbcType=BIGINT},
      </if>
      <if test="fixCount != null">
        #{fixCount,jdbcType=BIGINT},
      </if>
      <if test="isHashed != null">
        #{isHashed,jdbcType=VARCHAR},
      </if>
      <if test="newestModification != null">
        #{newestModification,jdbcType=BIGINT},
      </if>
      <if test="oldestModification != null">
        #{oldestModification,jdbcType=BIGINT},
      </if>
      <if test="accessTime != null">
        #{accessTime,jdbcType=BIGINT},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="indexName != null">
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="numberRecords != null">
        #{numberRecords,jdbcType=BIGINT},
      </if>
      <if test="dataSize != null">
        #{dataSize,jdbcType=BIGINT},
      </if>
      <if test="compressedSize != null">
        #{compressedSize,jdbcType=BIGINT},
      </if>
      <if test="pageState != null">
        #{pageState,jdbcType=VARCHAR},
      </if>
      <if test="ioFix != null">
        #{ioFix,jdbcType=VARCHAR},
      </if>
      <if test="isOld != null">
        #{isOld,jdbcType=VARCHAR},
      </if>
      <if test="freePageClock != null">
        #{freePageClock,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>