<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.InnodbFtDeletedMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.InnodbFtDeleted">
    <result column="DOC_ID" jdbcType="BIGINT" property="docId" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.InnodbFtDeleted">
    insert into INNODB_FT_DELETED (DOC_ID)
    values (#{docId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.InnodbFtDeleted">
    insert into INNODB_FT_DELETED
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        DOC_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        #{docId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>