<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.InnodbSysForeignMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.InnodbSysForeign">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FOR_NAME" jdbcType="VARCHAR" property="forName" />
    <result column="REF_NAME" jdbcType="VARCHAR" property="refName" />
    <result column="N_COLS" jdbcType="INTEGER" property="nCols" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.InnodbSysForeign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into INNODB_SYS_FOREIGN (FOR_NAME, REF_NAME, N_COLS, 
      TYPE)
    values (#{forName,jdbcType=VARCHAR}, #{refName,jdbcType=VARCHAR}, #{nCols,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.InnodbSysForeign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into INNODB_SYS_FOREIGN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="forName != null">
        FOR_NAME,
      </if>
      <if test="refName != null">
        REF_NAME,
      </if>
      <if test="nCols != null">
        N_COLS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="forName != null">
        #{forName,jdbcType=VARCHAR},
      </if>
      <if test="refName != null">
        #{refName,jdbcType=VARCHAR},
      </if>
      <if test="nCols != null">
        #{nCols,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>