<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.InnodbTableStatsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.InnodbTableStats">
    <result column="database_name" jdbcType="VARCHAR" property="databaseName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="n_rows" jdbcType="BIGINT" property="nRows" />
    <result column="clustered_index_size" jdbcType="BIGINT" property="clusteredIndexSize" />
    <result column="sum_of_other_index_sizes" jdbcType="BIGINT" property="sumOfOtherIndexSizes" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.InnodbTableStats">
    insert into innodb_table_stats (database_name, table_name, last_update, 
      n_rows, clustered_index_size, sum_of_other_index_sizes
      )
    values (#{databaseName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}, 
      #{nRows,jdbcType=BIGINT}, #{clusteredIndexSize,jdbcType=BIGINT}, #{sumOfOtherIndexSizes,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.InnodbTableStats">
    insert into innodb_table_stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="databaseName != null">
        database_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
      <if test="nRows != null">
        n_rows,
      </if>
      <if test="clusteredIndexSize != null">
        clustered_index_size,
      </if>
      <if test="sumOfOtherIndexSizes != null">
        sum_of_other_index_sizes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="databaseName != null">
        #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nRows != null">
        #{nRows,jdbcType=BIGINT},
      </if>
      <if test="clusteredIndexSize != null">
        #{clusteredIndexSize,jdbcType=BIGINT},
      </if>
      <if test="sumOfOtherIndexSizes != null">
        #{sumOfOtherIndexSizes,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>