<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.InnodbSysTablespacesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.InnodbSysTablespaces">
    <result column="SPACE" jdbcType="INTEGER" property="space" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FLAG" jdbcType="INTEGER" property="flag" />
    <result column="FILE_FORMAT" jdbcType="VARCHAR" property="fileFormat" />
    <result column="ROW_FORMAT" jdbcType="VARCHAR" property="rowFormat" />
    <result column="PAGE_SIZE" jdbcType="INTEGER" property="pageSize" />
    <result column="ZIP_PAGE_SIZE" jdbcType="INTEGER" property="zipPageSize" />
    <result column="SPACE_TYPE" jdbcType="VARCHAR" property="spaceType" />
    <result column="FS_BLOCK_SIZE" jdbcType="INTEGER" property="fsBlockSize" />
    <result column="FILE_SIZE" jdbcType="BIGINT" property="fileSize" />
    <result column="ALLOCATED_SIZE" jdbcType="BIGINT" property="allocatedSize" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.InnodbSysTablespaces">
    insert into INNODB_SYS_TABLESPACES (SPACE, NAME, FLAG, 
      FILE_FORMAT, ROW_FORMAT, PAGE_SIZE, 
      ZIP_PAGE_SIZE, SPACE_TYPE, FS_BLOCK_SIZE, 
      FILE_SIZE, ALLOCATED_SIZE)
    values (#{space,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{fileFormat,jdbcType=VARCHAR}, #{rowFormat,jdbcType=VARCHAR}, #{pageSize,jdbcType=INTEGER}, 
      #{zipPageSize,jdbcType=INTEGER}, #{spaceType,jdbcType=VARCHAR}, #{fsBlockSize,jdbcType=INTEGER}, 
      #{fileSize,jdbcType=BIGINT}, #{allocatedSize,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.InnodbSysTablespaces">
    insert into INNODB_SYS_TABLESPACES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="space != null">
        SPACE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="fileFormat != null">
        FILE_FORMAT,
      </if>
      <if test="rowFormat != null">
        ROW_FORMAT,
      </if>
      <if test="pageSize != null">
        PAGE_SIZE,
      </if>
      <if test="zipPageSize != null">
        ZIP_PAGE_SIZE,
      </if>
      <if test="spaceType != null">
        SPACE_TYPE,
      </if>
      <if test="fsBlockSize != null">
        FS_BLOCK_SIZE,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="allocatedSize != null">
        ALLOCATED_SIZE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="space != null">
        #{space,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="fileFormat != null">
        #{fileFormat,jdbcType=VARCHAR},
      </if>
      <if test="rowFormat != null">
        #{rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="pageSize != null">
        #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="zipPageSize != null">
        #{zipPageSize,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null">
        #{spaceType,jdbcType=VARCHAR},
      </if>
      <if test="fsBlockSize != null">
        #{fsBlockSize,jdbcType=INTEGER},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="allocatedSize != null">
        #{allocatedSize,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>