<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.MemoryGlobalByCurrentBytesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.MemoryGlobalByCurrentBytes">
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="current_count" jdbcType="BIGINT" property="currentCount" />
    <result column="high_count" jdbcType="BIGINT" property="highCount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.MemoryGlobalByCurrentBytesWithBLOBs">
    <result column="current_alloc" jdbcType="LONGVARCHAR" property="currentAlloc" />
    <result column="current_avg_alloc" jdbcType="LONGVARCHAR" property="currentAvgAlloc" />
    <result column="high_alloc" jdbcType="LONGVARCHAR" property="highAlloc" />
    <result column="high_avg_alloc" jdbcType="LONGVARCHAR" property="highAvgAlloc" />
  </resultMap>
  <sql id="Blob_Column_List">
    current_alloc, current_avg_alloc, high_alloc, high_avg_alloc
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.MemoryGlobalByCurrentBytesWithBLOBs">
    insert into memory_global_by_current_bytes (event_name, current_count, high_count, 
      current_alloc, current_avg_alloc, 
      high_alloc, high_avg_alloc)
    values (#{eventName,jdbcType=VARCHAR}, #{currentCount,jdbcType=BIGINT}, #{highCount,jdbcType=BIGINT}, 
      #{currentAlloc,jdbcType=LONGVARCHAR}, #{currentAvgAlloc,jdbcType=LONGVARCHAR}, 
      #{highAlloc,jdbcType=LONGVARCHAR}, #{highAvgAlloc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.MemoryGlobalByCurrentBytesWithBLOBs">
    insert into memory_global_by_current_bytes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventName != null">
        event_name,
      </if>
      <if test="currentCount != null">
        current_count,
      </if>
      <if test="highCount != null">
        high_count,
      </if>
      <if test="currentAlloc != null">
        current_alloc,
      </if>
      <if test="currentAvgAlloc != null">
        current_avg_alloc,
      </if>
      <if test="highAlloc != null">
        high_alloc,
      </if>
      <if test="highAvgAlloc != null">
        high_avg_alloc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="currentCount != null">
        #{currentCount,jdbcType=BIGINT},
      </if>
      <if test="highCount != null">
        #{highCount,jdbcType=BIGINT},
      </if>
      <if test="currentAlloc != null">
        #{currentAlloc,jdbcType=LONGVARCHAR},
      </if>
      <if test="currentAvgAlloc != null">
        #{currentAvgAlloc,jdbcType=LONGVARCHAR},
      </if>
      <if test="highAlloc != null">
        #{highAlloc,jdbcType=LONGVARCHAR},
      </if>
      <if test="highAvgAlloc != null">
        #{highAvgAlloc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>