<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.MemorySummaryByUserByEventNameMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.MemorySummaryByUserByEventName">
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="COUNT_ALLOC" jdbcType="BIGINT" property="countAlloc" />
    <result column="COUNT_FREE" jdbcType="BIGINT" property="countFree" />
    <result column="SUM_NUMBER_OF_BYTES_ALLOC" jdbcType="BIGINT" property="sumNumberOfBytesAlloc" />
    <result column="SUM_NUMBER_OF_BYTES_FREE" jdbcType="BIGINT" property="sumNumberOfBytesFree" />
    <result column="LOW_COUNT_USED" jdbcType="BIGINT" property="lowCountUsed" />
    <result column="CURRENT_COUNT_USED" jdbcType="BIGINT" property="currentCountUsed" />
    <result column="HIGH_COUNT_USED" jdbcType="BIGINT" property="highCountUsed" />
    <result column="LOW_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="lowNumberOfBytesUsed" />
    <result column="CURRENT_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="currentNumberOfBytesUsed" />
    <result column="HIGH_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="highNumberOfBytesUsed" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.MemorySummaryByUserByEventName">
    insert into memory_summary_by_user_by_event_name (USER, EVENT_NAME, COUNT_ALLOC, 
      COUNT_FREE, SUM_NUMBER_OF_BYTES_ALLOC, SUM_NUMBER_OF_BYTES_FREE, 
      LOW_COUNT_USED, CURRENT_COUNT_USED, HIGH_COUNT_USED, 
      LOW_NUMBER_OF_BYTES_USED, CURRENT_NUMBER_OF_BYTES_USED, 
      HIGH_NUMBER_OF_BYTES_USED)
    values (#{user,jdbcType=CHAR}, #{eventName,jdbcType=VARCHAR}, #{countAlloc,jdbcType=BIGINT}, 
      #{countFree,jdbcType=BIGINT}, #{sumNumberOfBytesAlloc,jdbcType=BIGINT}, #{sumNumberOfBytesFree,jdbcType=BIGINT}, 
      #{lowCountUsed,jdbcType=BIGINT}, #{currentCountUsed,jdbcType=BIGINT}, #{highCountUsed,jdbcType=BIGINT}, 
      #{lowNumberOfBytesUsed,jdbcType=BIGINT}, #{currentNumberOfBytesUsed,jdbcType=BIGINT}, 
      #{highNumberOfBytesUsed,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.MemorySummaryByUserByEventName">
    insert into memory_summary_by_user_by_event_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        USER,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="countAlloc != null">
        COUNT_ALLOC,
      </if>
      <if test="countFree != null">
        COUNT_FREE,
      </if>
      <if test="sumNumberOfBytesAlloc != null">
        SUM_NUMBER_OF_BYTES_ALLOC,
      </if>
      <if test="sumNumberOfBytesFree != null">
        SUM_NUMBER_OF_BYTES_FREE,
      </if>
      <if test="lowCountUsed != null">
        LOW_COUNT_USED,
      </if>
      <if test="currentCountUsed != null">
        CURRENT_COUNT_USED,
      </if>
      <if test="highCountUsed != null">
        HIGH_COUNT_USED,
      </if>
      <if test="lowNumberOfBytesUsed != null">
        LOW_NUMBER_OF_BYTES_USED,
      </if>
      <if test="currentNumberOfBytesUsed != null">
        CURRENT_NUMBER_OF_BYTES_USED,
      </if>
      <if test="highNumberOfBytesUsed != null">
        HIGH_NUMBER_OF_BYTES_USED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="countAlloc != null">
        #{countAlloc,jdbcType=BIGINT},
      </if>
      <if test="countFree != null">
        #{countFree,jdbcType=BIGINT},
      </if>
      <if test="sumNumberOfBytesAlloc != null">
        #{sumNumberOfBytesAlloc,jdbcType=BIGINT},
      </if>
      <if test="sumNumberOfBytesFree != null">
        #{sumNumberOfBytesFree,jdbcType=BIGINT},
      </if>
      <if test="lowCountUsed != null">
        #{lowCountUsed,jdbcType=BIGINT},
      </if>
      <if test="currentCountUsed != null">
        #{currentCountUsed,jdbcType=BIGINT},
      </if>
      <if test="highCountUsed != null">
        #{highCountUsed,jdbcType=BIGINT},
      </if>
      <if test="lowNumberOfBytesUsed != null">
        #{lowNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="currentNumberOfBytesUsed != null">
        #{currentNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="highNumberOfBytesUsed != null">
        #{highNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>