<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.MemoryByUserByCurrentBytesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.MemoryByUserByCurrentBytes">
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="current_count_used" jdbcType="DECIMAL" property="currentCountUsed" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.MemoryByUserByCurrentBytesWithBLOBs">
    <result column="current_allocated" jdbcType="LONGVARCHAR" property="currentAllocated" />
    <result column="current_avg_alloc" jdbcType="LONGVARCHAR" property="currentAvgAlloc" />
    <result column="current_max_alloc" jdbcType="LONGVARCHAR" property="currentMaxAlloc" />
    <result column="total_allocated" jdbcType="LONGVARCHAR" property="totalAllocated" />
  </resultMap>
  <sql id="Blob_Column_List">
    current_allocated, current_avg_alloc, current_max_alloc, total_allocated
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.MemoryByUserByCurrentBytesWithBLOBs">
    insert into memory_by_user_by_current_bytes (user, current_count_used, current_allocated, 
      current_avg_alloc, current_max_alloc, 
      total_allocated)
    values (#{user,jdbcType=VARCHAR}, #{currentCountUsed,jdbcType=DECIMAL}, #{currentAllocated,jdbcType=LONGVARCHAR}, 
      #{currentAvgAlloc,jdbcType=LONGVARCHAR}, #{currentMaxAlloc,jdbcType=LONGVARCHAR}, 
      #{totalAllocated,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.MemoryByUserByCurrentBytesWithBLOBs">
    insert into memory_by_user_by_current_bytes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        user,
      </if>
      <if test="currentCountUsed != null">
        current_count_used,
      </if>
      <if test="currentAllocated != null">
        current_allocated,
      </if>
      <if test="currentAvgAlloc != null">
        current_avg_alloc,
      </if>
      <if test="currentMaxAlloc != null">
        current_max_alloc,
      </if>
      <if test="totalAllocated != null">
        total_allocated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="currentCountUsed != null">
        #{currentCountUsed,jdbcType=DECIMAL},
      </if>
      <if test="currentAllocated != null">
        #{currentAllocated,jdbcType=LONGVARCHAR},
      </if>
      <if test="currentAvgAlloc != null">
        #{currentAvgAlloc,jdbcType=LONGVARCHAR},
      </if>
      <if test="currentMaxAlloc != null">
        #{currentMaxAlloc,jdbcType=LONGVARCHAR},
      </if>
      <if test="totalAllocated != null">
        #{totalAllocated,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>