<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.MetadataLocksMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.MetadataLocks">
    <result column="OBJECT_TYPE" jdbcType="VARCHAR" property="objectType" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="LOCK_TYPE" jdbcType="VARCHAR" property="lockType" />
    <result column="LOCK_DURATION" jdbcType="VARCHAR" property="lockDuration" />
    <result column="LOCK_STATUS" jdbcType="VARCHAR" property="lockStatus" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="OWNER_THREAD_ID" jdbcType="BIGINT" property="ownerThreadId" />
    <result column="OWNER_EVENT_ID" jdbcType="BIGINT" property="ownerEventId" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.MetadataLocks">
    insert into metadata_locks (OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, 
      OBJECT_INSTANCE_BEGIN, LOCK_TYPE, LOCK_DURATION, 
      LOCK_STATUS, SOURCE, OWNER_THREAD_ID, 
      OWNER_EVENT_ID)
    values (#{objectType,jdbcType=VARCHAR}, #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{objectInstanceBegin,jdbcType=BIGINT}, #{lockType,jdbcType=VARCHAR}, #{lockDuration,jdbcType=VARCHAR}, 
      #{lockStatus,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{ownerThreadId,jdbcType=BIGINT}, 
      #{ownerEventId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.MetadataLocks">
    insert into metadata_locks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        OBJECT_TYPE,
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null">
        OBJECT_NAME,
      </if>
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="lockType != null">
        LOCK_TYPE,
      </if>
      <if test="lockDuration != null">
        LOCK_DURATION,
      </if>
      <if test="lockStatus != null">
        LOCK_STATUS,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="ownerThreadId != null">
        OWNER_THREAD_ID,
      </if>
      <if test="ownerEventId != null">
        OWNER_EVENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null">
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="lockType != null">
        #{lockType,jdbcType=VARCHAR},
      </if>
      <if test="lockDuration != null">
        #{lockDuration,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="ownerThreadId != null">
        #{ownerThreadId,jdbcType=BIGINT},
      </if>
      <if test="ownerEventId != null">
        #{ownerEventId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>