<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.PartitionsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Partitions">
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="PARTITION_NAME" jdbcType="VARCHAR" property="partitionName" />
    <result column="SUBPARTITION_NAME" jdbcType="VARCHAR" property="subpartitionName" />
    <result column="PARTITION_ORDINAL_POSITION" jdbcType="BIGINT" property="partitionOrdinalPosition" />
    <result column="SUBPARTITION_ORDINAL_POSITION" jdbcType="BIGINT" property="subpartitionOrdinalPosition" />
    <result column="PARTITION_METHOD" jdbcType="VARCHAR" property="partitionMethod" />
    <result column="SUBPARTITION_METHOD" jdbcType="VARCHAR" property="subpartitionMethod" />
    <result column="TABLE_ROWS" jdbcType="BIGINT" property="tableRows" />
    <result column="AVG_ROW_LENGTH" jdbcType="BIGINT" property="avgRowLength" />
    <result column="DATA_LENGTH" jdbcType="BIGINT" property="dataLength" />
    <result column="MAX_DATA_LENGTH" jdbcType="BIGINT" property="maxDataLength" />
    <result column="INDEX_LENGTH" jdbcType="BIGINT" property="indexLength" />
    <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="CHECKSUM" jdbcType="BIGINT" property="checksum" />
    <result column="PARTITION_COMMENT" jdbcType="VARCHAR" property="partitionComment" />
    <result column="NODEGROUP" jdbcType="VARCHAR" property="nodegroup" />
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.PartitionsWithBLOBs">
    <result column="PARTITION_EXPRESSION" jdbcType="LONGVARCHAR" property="partitionExpression" />
    <result column="SUBPARTITION_EXPRESSION" jdbcType="LONGVARCHAR" property="subpartitionExpression" />
    <result column="PARTITION_DESCRIPTION" jdbcType="LONGVARCHAR" property="partitionDescription" />
  </resultMap>
  <sql id="Blob_Column_List">
    PARTITION_EXPRESSION, SUBPARTITION_EXPRESSION, PARTITION_DESCRIPTION
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.PartitionsWithBLOBs">
    insert into PARTITIONS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      PARTITION_NAME, SUBPARTITION_NAME, PARTITION_ORDINAL_POSITION, 
      SUBPARTITION_ORDINAL_POSITION, PARTITION_METHOD, 
      SUBPARTITION_METHOD, TABLE_ROWS, AVG_ROW_LENGTH, 
      DATA_LENGTH, MAX_DATA_LENGTH, INDEX_LENGTH, 
      DATA_FREE, CREATE_TIME, UPDATE_TIME, 
      CHECK_TIME, CHECKSUM, PARTITION_COMMENT, 
      NODEGROUP, TABLESPACE_NAME, PARTITION_EXPRESSION, 
      SUBPARTITION_EXPRESSION, PARTITION_DESCRIPTION
      )
    values (#{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{partitionName,jdbcType=VARCHAR}, #{subpartitionName,jdbcType=VARCHAR}, #{partitionOrdinalPosition,jdbcType=BIGINT}, 
      #{subpartitionOrdinalPosition,jdbcType=BIGINT}, #{partitionMethod,jdbcType=VARCHAR}, 
      #{subpartitionMethod,jdbcType=VARCHAR}, #{tableRows,jdbcType=BIGINT}, #{avgRowLength,jdbcType=BIGINT}, 
      #{dataLength,jdbcType=BIGINT}, #{maxDataLength,jdbcType=BIGINT}, #{indexLength,jdbcType=BIGINT}, 
      #{dataFree,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{checksum,jdbcType=BIGINT}, #{partitionComment,jdbcType=VARCHAR}, 
      #{nodegroup,jdbcType=VARCHAR}, #{tablespaceName,jdbcType=VARCHAR}, #{partitionExpression,jdbcType=LONGVARCHAR}, 
      #{subpartitionExpression,jdbcType=LONGVARCHAR}, #{partitionDescription,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.PartitionsWithBLOBs">
    insert into PARTITIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="partitionName != null">
        PARTITION_NAME,
      </if>
      <if test="subpartitionName != null">
        SUBPARTITION_NAME,
      </if>
      <if test="partitionOrdinalPosition != null">
        PARTITION_ORDINAL_POSITION,
      </if>
      <if test="subpartitionOrdinalPosition != null">
        SUBPARTITION_ORDINAL_POSITION,
      </if>
      <if test="partitionMethod != null">
        PARTITION_METHOD,
      </if>
      <if test="subpartitionMethod != null">
        SUBPARTITION_METHOD,
      </if>
      <if test="tableRows != null">
        TABLE_ROWS,
      </if>
      <if test="avgRowLength != null">
        AVG_ROW_LENGTH,
      </if>
      <if test="dataLength != null">
        DATA_LENGTH,
      </if>
      <if test="maxDataLength != null">
        MAX_DATA_LENGTH,
      </if>
      <if test="indexLength != null">
        INDEX_LENGTH,
      </if>
      <if test="dataFree != null">
        DATA_FREE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="checkTime != null">
        CHECK_TIME,
      </if>
      <if test="checksum != null">
        CHECKSUM,
      </if>
      <if test="partitionComment != null">
        PARTITION_COMMENT,
      </if>
      <if test="nodegroup != null">
        NODEGROUP,
      </if>
      <if test="tablespaceName != null">
        TABLESPACE_NAME,
      </if>
      <if test="partitionExpression != null">
        PARTITION_EXPRESSION,
      </if>
      <if test="subpartitionExpression != null">
        SUBPARTITION_EXPRESSION,
      </if>
      <if test="partitionDescription != null">
        PARTITION_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionName != null">
        #{partitionName,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionName != null">
        #{subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="partitionOrdinalPosition != null">
        #{partitionOrdinalPosition,jdbcType=BIGINT},
      </if>
      <if test="subpartitionOrdinalPosition != null">
        #{subpartitionOrdinalPosition,jdbcType=BIGINT},
      </if>
      <if test="partitionMethod != null">
        #{partitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionMethod != null">
        #{subpartitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="tableRows != null">
        #{tableRows,jdbcType=BIGINT},
      </if>
      <if test="avgRowLength != null">
        #{avgRowLength,jdbcType=BIGINT},
      </if>
      <if test="dataLength != null">
        #{dataLength,jdbcType=BIGINT},
      </if>
      <if test="maxDataLength != null">
        #{maxDataLength,jdbcType=BIGINT},
      </if>
      <if test="indexLength != null">
        #{indexLength,jdbcType=BIGINT},
      </if>
      <if test="dataFree != null">
        #{dataFree,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checksum != null">
        #{checksum,jdbcType=BIGINT},
      </if>
      <if test="partitionComment != null">
        #{partitionComment,jdbcType=VARCHAR},
      </if>
      <if test="nodegroup != null">
        #{nodegroup,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceName != null">
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="partitionExpression != null">
        #{partitionExpression,jdbcType=LONGVARCHAR},
      </if>
      <if test="subpartitionExpression != null">
        #{subpartitionExpression,jdbcType=LONGVARCHAR},
      </if>
      <if test="partitionDescription != null">
        #{partitionDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>