<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.ProcsPrivMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.ProcsPriv">
    <result column="Host" jdbcType="CHAR" property="host" />
    <result column="Db" jdbcType="CHAR" property="db" />
    <result column="User" jdbcType="CHAR" property="user" />
    <result column="Routine_name" jdbcType="CHAR" property="routineName" />
    <result column="Routine_type" jdbcType="CHAR" property="routineType" />
    <result column="Grantor" jdbcType="CHAR" property="grantor" />
    <result column="Proc_priv" jdbcType="CHAR" property="procPriv" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.ProcsPriv">
    insert into procs_priv (Host, Db, User, Routine_name, 
      Routine_type, Grantor, Proc_priv, 
      Timestamp)
    values (#{host,jdbcType=CHAR}, #{db,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{routineName,jdbcType=CHAR}, 
      #{routineType,jdbcType=CHAR}, #{grantor,jdbcType=CHAR}, #{procPriv,jdbcType=CHAR}, 
      #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.ProcsPriv">
    insert into procs_priv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        Host,
      </if>
      <if test="db != null">
        Db,
      </if>
      <if test="user != null">
        User,
      </if>
      <if test="routineName != null">
        Routine_name,
      </if>
      <if test="routineType != null">
        Routine_type,
      </if>
      <if test="grantor != null">
        Grantor,
      </if>
      <if test="procPriv != null">
        Proc_priv,
      </if>
      <if test="timestamp != null">
        Timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="db != null">
        #{db,jdbcType=CHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="routineName != null">
        #{routineName,jdbcType=CHAR},
      </if>
      <if test="routineType != null">
        #{routineType,jdbcType=CHAR},
      </if>
      <if test="grantor != null">
        #{grantor,jdbcType=CHAR},
      </if>
      <if test="procPriv != null">
        #{procPriv,jdbcType=CHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>