<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.PsCheckLostInstrumentationMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.PsCheckLostInstrumentation">
    <result column="variable_name" jdbcType="VARCHAR" property="variableName" />
    <result column="variable_value" jdbcType="VARCHAR" property="variableValue" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.PsCheckLostInstrumentation">
    insert into ps_check_lost_instrumentation (variable_name, variable_value)
    values (#{variableName,jdbcType=VARCHAR}, #{variableValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.PsCheckLostInstrumentation">
    insert into ps_check_lost_instrumentation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        variable_name,
      </if>
      <if test="variableValue != null">
        variable_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableValue != null">
        #{variableValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>