<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.ReplicationApplierConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.ReplicationApplierConfiguration">
    <result column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <result column="DESIRED_DELAY" jdbcType="INTEGER" property="desiredDelay" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.ReplicationApplierConfiguration">
    insert into replication_applier_configuration (CHANNEL_NAME, DESIRED_DELAY)
    values (#{channelName,jdbcType=CHAR}, #{desiredDelay,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.ReplicationApplierConfiguration">
    insert into replication_applier_configuration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        CHANNEL_NAME,
      </if>
      <if test="desiredDelay != null">
        DESIRED_DELAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="desiredDelay != null">
        #{desiredDelay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>