<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.RwlockInstancesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.RwlockInstances">
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="WRITE_LOCKED_BY_THREAD_ID" jdbcType="BIGINT" property="writeLockedByThreadId" />
    <result column="READ_LOCKED_BY_COUNT" jdbcType="INTEGER" property="readLockedByCount" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.RwlockInstances">
    insert into rwlock_instances (NAME, OBJECT_INSTANCE_BEGIN, WRITE_LOCKED_BY_THREAD_ID, 
      READ_LOCKED_BY_COUNT)
    values (#{name,jdbcType=VARCHAR}, #{objectInstanceBegin,jdbcType=BIGINT}, #{writeLockedByThreadId,jdbcType=BIGINT}, 
      #{readLockedByCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.RwlockInstances">
    insert into rwlock_instances
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="writeLockedByThreadId != null">
        WRITE_LOCKED_BY_THREAD_ID,
      </if>
      <if test="readLockedByCount != null">
        READ_LOCKED_BY_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null">
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="writeLockedByThreadId != null">
        #{writeLockedByThreadId,jdbcType=BIGINT},
      </if>
      <if test="readLockedByCount != null">
        #{readLockedByCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>