<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.SchemaIndexStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.SchemaIndexStatistics">
    <result column="table_schema" jdbcType="VARCHAR" property="tableSchema" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="index_name" jdbcType="VARCHAR" property="indexName" />
    <result column="rows_selected" jdbcType="BIGINT" property="rowsSelected" />
    <result column="rows_inserted" jdbcType="BIGINT" property="rowsInserted" />
    <result column="rows_updated" jdbcType="BIGINT" property="rowsUpdated" />
    <result column="rows_deleted" jdbcType="BIGINT" property="rowsDeleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.SchemaIndexStatisticsWithBLOBs">
    <result column="select_latency" jdbcType="LONGVARCHAR" property="selectLatency" />
    <result column="insert_latency" jdbcType="LONGVARCHAR" property="insertLatency" />
    <result column="update_latency" jdbcType="LONGVARCHAR" property="updateLatency" />
    <result column="delete_latency" jdbcType="LONGVARCHAR" property="deleteLatency" />
  </resultMap>
  <sql id="Blob_Column_List">
    select_latency, insert_latency, update_latency, delete_latency
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.SchemaIndexStatisticsWithBLOBs">
    insert into schema_index_statistics (table_schema, table_name, index_name, 
      rows_selected, rows_inserted, rows_updated, 
      rows_deleted, select_latency, insert_latency, 
      update_latency, delete_latency)
    values (#{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, 
      #{rowsSelected,jdbcType=BIGINT}, #{rowsInserted,jdbcType=BIGINT}, #{rowsUpdated,jdbcType=BIGINT}, 
      #{rowsDeleted,jdbcType=BIGINT}, #{selectLatency,jdbcType=LONGVARCHAR}, #{insertLatency,jdbcType=LONGVARCHAR}, 
      #{updateLatency,jdbcType=LONGVARCHAR}, #{deleteLatency,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.SchemaIndexStatisticsWithBLOBs">
    insert into schema_index_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableSchema != null">
        table_schema,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="indexName != null">
        index_name,
      </if>
      <if test="rowsSelected != null">
        rows_selected,
      </if>
      <if test="rowsInserted != null">
        rows_inserted,
      </if>
      <if test="rowsUpdated != null">
        rows_updated,
      </if>
      <if test="rowsDeleted != null">
        rows_deleted,
      </if>
      <if test="selectLatency != null">
        select_latency,
      </if>
      <if test="insertLatency != null">
        insert_latency,
      </if>
      <if test="updateLatency != null">
        update_latency,
      </if>
      <if test="deleteLatency != null">
        delete_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="indexName != null">
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="rowsSelected != null">
        #{rowsSelected,jdbcType=BIGINT},
      </if>
      <if test="rowsInserted != null">
        #{rowsInserted,jdbcType=BIGINT},
      </if>
      <if test="rowsUpdated != null">
        #{rowsUpdated,jdbcType=BIGINT},
      </if>
      <if test="rowsDeleted != null">
        #{rowsDeleted,jdbcType=BIGINT},
      </if>
      <if test="selectLatency != null">
        #{selectLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="insertLatency != null">
        #{insertLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateLatency != null">
        #{updateLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="deleteLatency != null">
        #{deleteLatency,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>