<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.StatementsWithErrorsOrWarningsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.StatementsWithErrorsOrWarnings">
    <result column="db" jdbcType="VARCHAR" property="db" />
    <result column="exec_count" jdbcType="BIGINT" property="execCount" />
    <result column="errors" jdbcType="BIGINT" property="errors" />
    <result column="error_pct" jdbcType="DECIMAL" property="errorPct" />
    <result column="warnings" jdbcType="BIGINT" property="warnings" />
    <result column="warning_pct" jdbcType="DECIMAL" property="warningPct" />
    <result column="first_seen" jdbcType="TIMESTAMP" property="firstSeen" />
    <result column="last_seen" jdbcType="TIMESTAMP" property="lastSeen" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.StatementsWithErrorsOrWarnings">
    <result column="query" jdbcType="LONGVARCHAR" property="query" />
  </resultMap>
  <sql id="Blob_Column_List">
    query
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.StatementsWithErrorsOrWarnings">
    insert into statements_with_errors_or_warnings (db, exec_count, errors, 
      error_pct, warnings, warning_pct, 
      first_seen, last_seen, digest, 
      query)
    values (#{db,jdbcType=VARCHAR}, #{execCount,jdbcType=BIGINT}, #{errors,jdbcType=BIGINT}, 
      #{errorPct,jdbcType=DECIMAL}, #{warnings,jdbcType=BIGINT}, #{warningPct,jdbcType=DECIMAL}, 
      #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}, #{digest,jdbcType=VARCHAR}, 
      #{query,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.StatementsWithErrorsOrWarnings">
    insert into statements_with_errors_or_warnings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="db != null">
        db,
      </if>
      <if test="execCount != null">
        exec_count,
      </if>
      <if test="errors != null">
        errors,
      </if>
      <if test="errorPct != null">
        error_pct,
      </if>
      <if test="warnings != null">
        warnings,
      </if>
      <if test="warningPct != null">
        warning_pct,
      </if>
      <if test="firstSeen != null">
        first_seen,
      </if>
      <if test="lastSeen != null">
        last_seen,
      </if>
      <if test="digest != null">
        digest,
      </if>
      <if test="query != null">
        query,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="db != null">
        #{db,jdbcType=VARCHAR},
      </if>
      <if test="execCount != null">
        #{execCount,jdbcType=BIGINT},
      </if>
      <if test="errors != null">
        #{errors,jdbcType=BIGINT},
      </if>
      <if test="errorPct != null">
        #{errorPct,jdbcType=DECIMAL},
      </if>
      <if test="warnings != null">
        #{warnings,jdbcType=BIGINT},
      </if>
      <if test="warningPct != null">
        #{warningPct,jdbcType=DECIMAL},
      </if>
      <if test="firstSeen != null">
        #{firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSeen != null">
        #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="query != null">
        #{query,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>