<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Student">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="SNo" jdbcType="INTEGER" property="sno" />
    <result column="SName" jdbcType="VARCHAR" property="sname" />
    <result column="Gender" jdbcType="VARCHAR" property="gender" />
    <result column="Birthday" jdbcType="DATE" property="birthday" />
    <result column="Mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Image" jdbcType="VARCHAR" property="image" />
    <result column="Isdelete" jdbcType="VARCHAR" property="isdelete" />
    <result column="Cla" jdbcType="INTEGER" property="cla" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Student (SNo, SName, Gender, 
      Birthday, Mobile, Email, 
      Address, Image, Isdelete, 
      Cla)
    values (#{sno,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{isdelete,jdbcType=VARCHAR}, 
      #{cla,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sno != null">
        SNo,
      </if>
      <if test="sname != null">
        SName,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="birthday != null">
        Birthday,
      </if>
      <if test="mobile != null">
        Mobile,
      </if>
      <if test="email != null">
        Email,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="image != null">
        Image,
      </if>
      <if test="isdelete != null">
        Isdelete,
      </if>
      <if test="cla != null">
        Cla,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sno != null">
        #{sno,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="cla != null">
        #{cla,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>