<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.TablespacesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.Tablespaces">
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
    <result column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="TABLESPACE_TYPE" jdbcType="VARCHAR" property="tablespaceType" />
    <result column="LOGFILE_GROUP_NAME" jdbcType="VARCHAR" property="logfileGroupName" />
    <result column="EXTENT_SIZE" jdbcType="BIGINT" property="extentSize" />
    <result column="AUTOEXTEND_SIZE" jdbcType="BIGINT" property="autoextendSize" />
    <result column="MAXIMUM_SIZE" jdbcType="BIGINT" property="maximumSize" />
    <result column="NODEGROUP_ID" jdbcType="BIGINT" property="nodegroupId" />
    <result column="TABLESPACE_COMMENT" jdbcType="VARCHAR" property="tablespaceComment" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.Tablespaces">
    insert into TABLESPACES (TABLESPACE_NAME, ENGINE, TABLESPACE_TYPE, 
      LOGFILE_GROUP_NAME, EXTENT_SIZE, AUTOEXTEND_SIZE, 
      MAXIMUM_SIZE, NODEGROUP_ID, TABLESPACE_COMMENT
      )
    values (#{tablespaceName,jdbcType=VARCHAR}, #{engine,jdbcType=VARCHAR}, #{tablespaceType,jdbcType=VARCHAR}, 
      #{logfileGroupName,jdbcType=VARCHAR}, #{extentSize,jdbcType=BIGINT}, #{autoextendSize,jdbcType=BIGINT}, 
      #{maximumSize,jdbcType=BIGINT}, #{nodegroupId,jdbcType=BIGINT}, #{tablespaceComment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.Tablespaces">
    insert into TABLESPACES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tablespaceName != null">
        TABLESPACE_NAME,
      </if>
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="tablespaceType != null">
        TABLESPACE_TYPE,
      </if>
      <if test="logfileGroupName != null">
        LOGFILE_GROUP_NAME,
      </if>
      <if test="extentSize != null">
        EXTENT_SIZE,
      </if>
      <if test="autoextendSize != null">
        AUTOEXTEND_SIZE,
      </if>
      <if test="maximumSize != null">
        MAXIMUM_SIZE,
      </if>
      <if test="nodegroupId != null">
        NODEGROUP_ID,
      </if>
      <if test="tablespaceComment != null">
        TABLESPACE_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tablespaceName != null">
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceType != null">
        #{tablespaceType,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupName != null">
        #{logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="extentSize != null">
        #{extentSize,jdbcType=BIGINT},
      </if>
      <if test="autoextendSize != null">
        #{autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="maximumSize != null">
        #{maximumSize,jdbcType=BIGINT},
      </if>
      <if test="nodegroupId != null">
        #{nodegroupId,jdbcType=BIGINT},
      </if>
      <if test="tablespaceComment != null">
        #{tablespaceComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>