<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.TableLockWaitsSummaryByTableMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.TableLockWaitsSummaryByTable">
    <result column="OBJECT_TYPE" jdbcType="VARCHAR" property="objectType" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="COUNT_STAR" jdbcType="BIGINT" property="countStar" />
    <result column="SUM_TIMER_WAIT" jdbcType="BIGINT" property="sumTimerWait" />
    <result column="MIN_TIMER_WAIT" jdbcType="BIGINT" property="minTimerWait" />
    <result column="AVG_TIMER_WAIT" jdbcType="BIGINT" property="avgTimerWait" />
    <result column="MAX_TIMER_WAIT" jdbcType="BIGINT" property="maxTimerWait" />
    <result column="COUNT_READ" jdbcType="BIGINT" property="countRead" />
    <result column="SUM_TIMER_READ" jdbcType="BIGINT" property="sumTimerRead" />
    <result column="MIN_TIMER_READ" jdbcType="BIGINT" property="minTimerRead" />
    <result column="AVG_TIMER_READ" jdbcType="BIGINT" property="avgTimerRead" />
    <result column="MAX_TIMER_READ" jdbcType="BIGINT" property="maxTimerRead" />
    <result column="COUNT_WRITE" jdbcType="BIGINT" property="countWrite" />
    <result column="SUM_TIMER_WRITE" jdbcType="BIGINT" property="sumTimerWrite" />
    <result column="MIN_TIMER_WRITE" jdbcType="BIGINT" property="minTimerWrite" />
    <result column="AVG_TIMER_WRITE" jdbcType="BIGINT" property="avgTimerWrite" />
    <result column="MAX_TIMER_WRITE" jdbcType="BIGINT" property="maxTimerWrite" />
    <result column="COUNT_READ_NORMAL" jdbcType="BIGINT" property="countReadNormal" />
    <result column="SUM_TIMER_READ_NORMAL" jdbcType="BIGINT" property="sumTimerReadNormal" />
    <result column="MIN_TIMER_READ_NORMAL" jdbcType="BIGINT" property="minTimerReadNormal" />
    <result column="AVG_TIMER_READ_NORMAL" jdbcType="BIGINT" property="avgTimerReadNormal" />
    <result column="MAX_TIMER_READ_NORMAL" jdbcType="BIGINT" property="maxTimerReadNormal" />
    <result column="COUNT_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="countReadWithSharedLocks" />
    <result column="SUM_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="sumTimerReadWithSharedLocks" />
    <result column="MIN_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="minTimerReadWithSharedLocks" />
    <result column="AVG_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="avgTimerReadWithSharedLocks" />
    <result column="MAX_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="maxTimerReadWithSharedLocks" />
    <result column="COUNT_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="countReadHighPriority" />
    <result column="SUM_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="sumTimerReadHighPriority" />
    <result column="MIN_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="minTimerReadHighPriority" />
    <result column="AVG_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="avgTimerReadHighPriority" />
    <result column="MAX_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="maxTimerReadHighPriority" />
    <result column="COUNT_READ_NO_INSERT" jdbcType="BIGINT" property="countReadNoInsert" />
    <result column="SUM_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="sumTimerReadNoInsert" />
    <result column="MIN_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="minTimerReadNoInsert" />
    <result column="AVG_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="avgTimerReadNoInsert" />
    <result column="MAX_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="maxTimerReadNoInsert" />
    <result column="COUNT_READ_EXTERNAL" jdbcType="BIGINT" property="countReadExternal" />
    <result column="SUM_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="sumTimerReadExternal" />
    <result column="MIN_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="minTimerReadExternal" />
    <result column="AVG_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="avgTimerReadExternal" />
    <result column="MAX_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="maxTimerReadExternal" />
    <result column="COUNT_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="countWriteAllowWrite" />
    <result column="SUM_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="sumTimerWriteAllowWrite" />
    <result column="MIN_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="minTimerWriteAllowWrite" />
    <result column="AVG_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="avgTimerWriteAllowWrite" />
    <result column="MAX_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="maxTimerWriteAllowWrite" />
    <result column="COUNT_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="countWriteConcurrentInsert" />
    <result column="SUM_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="sumTimerWriteConcurrentInsert" />
    <result column="MIN_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="minTimerWriteConcurrentInsert" />
    <result column="AVG_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="avgTimerWriteConcurrentInsert" />
    <result column="MAX_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="maxTimerWriteConcurrentInsert" />
    <result column="COUNT_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="countWriteLowPriority" />
    <result column="SUM_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="sumTimerWriteLowPriority" />
    <result column="MIN_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="minTimerWriteLowPriority" />
    <result column="AVG_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="avgTimerWriteLowPriority" />
    <result column="MAX_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="maxTimerWriteLowPriority" />
    <result column="COUNT_WRITE_NORMAL" jdbcType="BIGINT" property="countWriteNormal" />
    <result column="SUM_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="sumTimerWriteNormal" />
    <result column="MIN_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="minTimerWriteNormal" />
    <result column="AVG_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="avgTimerWriteNormal" />
    <result column="MAX_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="maxTimerWriteNormal" />
    <result column="COUNT_WRITE_EXTERNAL" jdbcType="BIGINT" property="countWriteExternal" />
    <result column="SUM_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="sumTimerWriteExternal" />
    <result column="MIN_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="minTimerWriteExternal" />
    <result column="AVG_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="avgTimerWriteExternal" />
    <result column="MAX_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="maxTimerWriteExternal" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.TableLockWaitsSummaryByTable">
    insert into table_lock_waits_summary_by_table (OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, 
      COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT, 
      AVG_TIMER_WAIT, MAX_TIMER_WAIT, COUNT_READ, 
      SUM_TIMER_READ, MIN_TIMER_READ, AVG_TIMER_READ, 
      MAX_TIMER_READ, COUNT_WRITE, SUM_TIMER_WRITE, 
      MIN_TIMER_WRITE, AVG_TIMER_WRITE, MAX_TIMER_WRITE, 
      COUNT_READ_NORMAL, SUM_TIMER_READ_NORMAL, MIN_TIMER_READ_NORMAL, 
      AVG_TIMER_READ_NORMAL, MAX_TIMER_READ_NORMAL, COUNT_READ_WITH_SHARED_LOCKS, 
      SUM_TIMER_READ_WITH_SHARED_LOCKS, MIN_TIMER_READ_WITH_SHARED_LOCKS, 
      AVG_TIMER_READ_WITH_SHARED_LOCKS, MAX_TIMER_READ_WITH_SHARED_LOCKS, 
      COUNT_READ_HIGH_PRIORITY, SUM_TIMER_READ_HIGH_PRIORITY, 
      MIN_TIMER_READ_HIGH_PRIORITY, AVG_TIMER_READ_HIGH_PRIORITY, 
      MAX_TIMER_READ_HIGH_PRIORITY, COUNT_READ_NO_INSERT, 
      SUM_TIMER_READ_NO_INSERT, MIN_TIMER_READ_NO_INSERT, 
      AVG_TIMER_READ_NO_INSERT, MAX_TIMER_READ_NO_INSERT, 
      COUNT_READ_EXTERNAL, SUM_TIMER_READ_EXTERNAL, 
      MIN_TIMER_READ_EXTERNAL, AVG_TIMER_READ_EXTERNAL, 
      MAX_TIMER_READ_EXTERNAL, COUNT_WRITE_ALLOW_WRITE, 
      SUM_TIMER_WRITE_ALLOW_WRITE, MIN_TIMER_WRITE_ALLOW_WRITE, 
      AVG_TIMER_WRITE_ALLOW_WRITE, MAX_TIMER_WRITE_ALLOW_WRITE, 
      COUNT_WRITE_CONCURRENT_INSERT, SUM_TIMER_WRITE_CONCURRENT_INSERT, 
      MIN_TIMER_WRITE_CONCURRENT_INSERT, AVG_TIMER_WRITE_CONCURRENT_INSERT, 
      MAX_TIMER_WRITE_CONCURRENT_INSERT, COUNT_WRITE_LOW_PRIORITY, 
      SUM_TIMER_WRITE_LOW_PRIORITY, MIN_TIMER_WRITE_LOW_PRIORITY, 
      AVG_TIMER_WRITE_LOW_PRIORITY, MAX_TIMER_WRITE_LOW_PRIORITY, 
      COUNT_WRITE_NORMAL, SUM_TIMER_WRITE_NORMAL, MIN_TIMER_WRITE_NORMAL, 
      AVG_TIMER_WRITE_NORMAL, MAX_TIMER_WRITE_NORMAL, 
      COUNT_WRITE_EXTERNAL, SUM_TIMER_WRITE_EXTERNAL, 
      MIN_TIMER_WRITE_EXTERNAL, AVG_TIMER_WRITE_EXTERNAL, 
      MAX_TIMER_WRITE_EXTERNAL)
    values (#{objectType,jdbcType=VARCHAR}, #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{countStar,jdbcType=BIGINT}, #{sumTimerWait,jdbcType=BIGINT}, #{minTimerWait,jdbcType=BIGINT}, 
      #{avgTimerWait,jdbcType=BIGINT}, #{maxTimerWait,jdbcType=BIGINT}, #{countRead,jdbcType=BIGINT}, 
      #{sumTimerRead,jdbcType=BIGINT}, #{minTimerRead,jdbcType=BIGINT}, #{avgTimerRead,jdbcType=BIGINT}, 
      #{maxTimerRead,jdbcType=BIGINT}, #{countWrite,jdbcType=BIGINT}, #{sumTimerWrite,jdbcType=BIGINT}, 
      #{minTimerWrite,jdbcType=BIGINT}, #{avgTimerWrite,jdbcType=BIGINT}, #{maxTimerWrite,jdbcType=BIGINT}, 
      #{countReadNormal,jdbcType=BIGINT}, #{sumTimerReadNormal,jdbcType=BIGINT}, #{minTimerReadNormal,jdbcType=BIGINT}, 
      #{avgTimerReadNormal,jdbcType=BIGINT}, #{maxTimerReadNormal,jdbcType=BIGINT}, #{countReadWithSharedLocks,jdbcType=BIGINT}, 
      #{sumTimerReadWithSharedLocks,jdbcType=BIGINT}, #{minTimerReadWithSharedLocks,jdbcType=BIGINT}, 
      #{avgTimerReadWithSharedLocks,jdbcType=BIGINT}, #{maxTimerReadWithSharedLocks,jdbcType=BIGINT}, 
      #{countReadHighPriority,jdbcType=BIGINT}, #{sumTimerReadHighPriority,jdbcType=BIGINT}, 
      #{minTimerReadHighPriority,jdbcType=BIGINT}, #{avgTimerReadHighPriority,jdbcType=BIGINT}, 
      #{maxTimerReadHighPriority,jdbcType=BIGINT}, #{countReadNoInsert,jdbcType=BIGINT}, 
      #{sumTimerReadNoInsert,jdbcType=BIGINT}, #{minTimerReadNoInsert,jdbcType=BIGINT}, 
      #{avgTimerReadNoInsert,jdbcType=BIGINT}, #{maxTimerReadNoInsert,jdbcType=BIGINT}, 
      #{countReadExternal,jdbcType=BIGINT}, #{sumTimerReadExternal,jdbcType=BIGINT}, 
      #{minTimerReadExternal,jdbcType=BIGINT}, #{avgTimerReadExternal,jdbcType=BIGINT}, 
      #{maxTimerReadExternal,jdbcType=BIGINT}, #{countWriteAllowWrite,jdbcType=BIGINT}, 
      #{sumTimerWriteAllowWrite,jdbcType=BIGINT}, #{minTimerWriteAllowWrite,jdbcType=BIGINT}, 
      #{avgTimerWriteAllowWrite,jdbcType=BIGINT}, #{maxTimerWriteAllowWrite,jdbcType=BIGINT}, 
      #{countWriteConcurrentInsert,jdbcType=BIGINT}, #{sumTimerWriteConcurrentInsert,jdbcType=BIGINT}, 
      #{minTimerWriteConcurrentInsert,jdbcType=BIGINT}, #{avgTimerWriteConcurrentInsert,jdbcType=BIGINT}, 
      #{maxTimerWriteConcurrentInsert,jdbcType=BIGINT}, #{countWriteLowPriority,jdbcType=BIGINT}, 
      #{sumTimerWriteLowPriority,jdbcType=BIGINT}, #{minTimerWriteLowPriority,jdbcType=BIGINT}, 
      #{avgTimerWriteLowPriority,jdbcType=BIGINT}, #{maxTimerWriteLowPriority,jdbcType=BIGINT}, 
      #{countWriteNormal,jdbcType=BIGINT}, #{sumTimerWriteNormal,jdbcType=BIGINT}, #{minTimerWriteNormal,jdbcType=BIGINT}, 
      #{avgTimerWriteNormal,jdbcType=BIGINT}, #{maxTimerWriteNormal,jdbcType=BIGINT}, 
      #{countWriteExternal,jdbcType=BIGINT}, #{sumTimerWriteExternal,jdbcType=BIGINT}, 
      #{minTimerWriteExternal,jdbcType=BIGINT}, #{avgTimerWriteExternal,jdbcType=BIGINT}, 
      #{maxTimerWriteExternal,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.TableLockWaitsSummaryByTable">
    insert into table_lock_waits_summary_by_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        OBJECT_TYPE,
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null">
        OBJECT_NAME,
      </if>
      <if test="countStar != null">
        COUNT_STAR,
      </if>
      <if test="sumTimerWait != null">
        SUM_TIMER_WAIT,
      </if>
      <if test="minTimerWait != null">
        MIN_TIMER_WAIT,
      </if>
      <if test="avgTimerWait != null">
        AVG_TIMER_WAIT,
      </if>
      <if test="maxTimerWait != null">
        MAX_TIMER_WAIT,
      </if>
      <if test="countRead != null">
        COUNT_READ,
      </if>
      <if test="sumTimerRead != null">
        SUM_TIMER_READ,
      </if>
      <if test="minTimerRead != null">
        MIN_TIMER_READ,
      </if>
      <if test="avgTimerRead != null">
        AVG_TIMER_READ,
      </if>
      <if test="maxTimerRead != null">
        MAX_TIMER_READ,
      </if>
      <if test="countWrite != null">
        COUNT_WRITE,
      </if>
      <if test="sumTimerWrite != null">
        SUM_TIMER_WRITE,
      </if>
      <if test="minTimerWrite != null">
        MIN_TIMER_WRITE,
      </if>
      <if test="avgTimerWrite != null">
        AVG_TIMER_WRITE,
      </if>
      <if test="maxTimerWrite != null">
        MAX_TIMER_WRITE,
      </if>
      <if test="countReadNormal != null">
        COUNT_READ_NORMAL,
      </if>
      <if test="sumTimerReadNormal != null">
        SUM_TIMER_READ_NORMAL,
      </if>
      <if test="minTimerReadNormal != null">
        MIN_TIMER_READ_NORMAL,
      </if>
      <if test="avgTimerReadNormal != null">
        AVG_TIMER_READ_NORMAL,
      </if>
      <if test="maxTimerReadNormal != null">
        MAX_TIMER_READ_NORMAL,
      </if>
      <if test="countReadWithSharedLocks != null">
        COUNT_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="sumTimerReadWithSharedLocks != null">
        SUM_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="minTimerReadWithSharedLocks != null">
        MIN_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="avgTimerReadWithSharedLocks != null">
        AVG_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="maxTimerReadWithSharedLocks != null">
        MAX_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="countReadHighPriority != null">
        COUNT_READ_HIGH_PRIORITY,
      </if>
      <if test="sumTimerReadHighPriority != null">
        SUM_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="minTimerReadHighPriority != null">
        MIN_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="avgTimerReadHighPriority != null">
        AVG_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="maxTimerReadHighPriority != null">
        MAX_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="countReadNoInsert != null">
        COUNT_READ_NO_INSERT,
      </if>
      <if test="sumTimerReadNoInsert != null">
        SUM_TIMER_READ_NO_INSERT,
      </if>
      <if test="minTimerReadNoInsert != null">
        MIN_TIMER_READ_NO_INSERT,
      </if>
      <if test="avgTimerReadNoInsert != null">
        AVG_TIMER_READ_NO_INSERT,
      </if>
      <if test="maxTimerReadNoInsert != null">
        MAX_TIMER_READ_NO_INSERT,
      </if>
      <if test="countReadExternal != null">
        COUNT_READ_EXTERNAL,
      </if>
      <if test="sumTimerReadExternal != null">
        SUM_TIMER_READ_EXTERNAL,
      </if>
      <if test="minTimerReadExternal != null">
        MIN_TIMER_READ_EXTERNAL,
      </if>
      <if test="avgTimerReadExternal != null">
        AVG_TIMER_READ_EXTERNAL,
      </if>
      <if test="maxTimerReadExternal != null">
        MAX_TIMER_READ_EXTERNAL,
      </if>
      <if test="countWriteAllowWrite != null">
        COUNT_WRITE_ALLOW_WRITE,
      </if>
      <if test="sumTimerWriteAllowWrite != null">
        SUM_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="minTimerWriteAllowWrite != null">
        MIN_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="avgTimerWriteAllowWrite != null">
        AVG_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="maxTimerWriteAllowWrite != null">
        MAX_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="countWriteConcurrentInsert != null">
        COUNT_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="sumTimerWriteConcurrentInsert != null">
        SUM_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="minTimerWriteConcurrentInsert != null">
        MIN_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="avgTimerWriteConcurrentInsert != null">
        AVG_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="maxTimerWriteConcurrentInsert != null">
        MAX_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="countWriteLowPriority != null">
        COUNT_WRITE_LOW_PRIORITY,
      </if>
      <if test="sumTimerWriteLowPriority != null">
        SUM_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="minTimerWriteLowPriority != null">
        MIN_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="avgTimerWriteLowPriority != null">
        AVG_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="maxTimerWriteLowPriority != null">
        MAX_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="countWriteNormal != null">
        COUNT_WRITE_NORMAL,
      </if>
      <if test="sumTimerWriteNormal != null">
        SUM_TIMER_WRITE_NORMAL,
      </if>
      <if test="minTimerWriteNormal != null">
        MIN_TIMER_WRITE_NORMAL,
      </if>
      <if test="avgTimerWriteNormal != null">
        AVG_TIMER_WRITE_NORMAL,
      </if>
      <if test="maxTimerWriteNormal != null">
        MAX_TIMER_WRITE_NORMAL,
      </if>
      <if test="countWriteExternal != null">
        COUNT_WRITE_EXTERNAL,
      </if>
      <if test="sumTimerWriteExternal != null">
        SUM_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="minTimerWriteExternal != null">
        MIN_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="avgTimerWriteExternal != null">
        AVG_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="maxTimerWriteExternal != null">
        MAX_TIMER_WRITE_EXTERNAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="countStar != null">
        #{countStar,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWait != null">
        #{sumTimerWait,jdbcType=BIGINT},
      </if>
      <if test="minTimerWait != null">
        #{minTimerWait,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWait != null">
        #{avgTimerWait,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWait != null">
        #{maxTimerWait,jdbcType=BIGINT},
      </if>
      <if test="countRead != null">
        #{countRead,jdbcType=BIGINT},
      </if>
      <if test="sumTimerRead != null">
        #{sumTimerRead,jdbcType=BIGINT},
      </if>
      <if test="minTimerRead != null">
        #{minTimerRead,jdbcType=BIGINT},
      </if>
      <if test="avgTimerRead != null">
        #{avgTimerRead,jdbcType=BIGINT},
      </if>
      <if test="maxTimerRead != null">
        #{maxTimerRead,jdbcType=BIGINT},
      </if>
      <if test="countWrite != null">
        #{countWrite,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWrite != null">
        #{sumTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="minTimerWrite != null">
        #{minTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWrite != null">
        #{avgTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWrite != null">
        #{maxTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="countReadNormal != null">
        #{countReadNormal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadNormal != null">
        #{sumTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadNormal != null">
        #{minTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadNormal != null">
        #{avgTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadNormal != null">
        #{maxTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="countReadWithSharedLocks != null">
        #{countReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadWithSharedLocks != null">
        #{sumTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadWithSharedLocks != null">
        #{minTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadWithSharedLocks != null">
        #{avgTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadWithSharedLocks != null">
        #{maxTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="countReadHighPriority != null">
        #{countReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadHighPriority != null">
        #{sumTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadHighPriority != null">
        #{minTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadHighPriority != null">
        #{avgTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadHighPriority != null">
        #{maxTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="countReadNoInsert != null">
        #{countReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadNoInsert != null">
        #{sumTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadNoInsert != null">
        #{minTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadNoInsert != null">
        #{avgTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadNoInsert != null">
        #{maxTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="countReadExternal != null">
        #{countReadExternal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadExternal != null">
        #{sumTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadExternal != null">
        #{minTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadExternal != null">
        #{avgTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadExternal != null">
        #{maxTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="countWriteAllowWrite != null">
        #{countWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteAllowWrite != null">
        #{sumTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteAllowWrite != null">
        #{minTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteAllowWrite != null">
        #{avgTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteAllowWrite != null">
        #{maxTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="countWriteConcurrentInsert != null">
        #{countWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteConcurrentInsert != null">
        #{sumTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteConcurrentInsert != null">
        #{minTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteConcurrentInsert != null">
        #{avgTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteConcurrentInsert != null">
        #{maxTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="countWriteLowPriority != null">
        #{countWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteLowPriority != null">
        #{sumTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteLowPriority != null">
        #{minTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteLowPriority != null">
        #{avgTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteLowPriority != null">
        #{maxTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="countWriteNormal != null">
        #{countWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteNormal != null">
        #{sumTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteNormal != null">
        #{minTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteNormal != null">
        #{avgTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteNormal != null">
        #{maxTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="countWriteExternal != null">
        #{countWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteExternal != null">
        #{sumTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteExternal != null">
        #{minTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteExternal != null">
        #{avgTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteExternal != null">
        #{maxTimerWriteExternal,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>