<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.TimeZoneTransitionTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.TimeZoneTransitionType">
    <result column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <result column="Transition_type_id" jdbcType="INTEGER" property="transitionTypeId" />
    <result column="Offset" jdbcType="INTEGER" property="offset" />
    <result column="Is_DST" jdbcType="TINYINT" property="isDst" />
    <result column="Abbreviation" jdbcType="CHAR" property="abbreviation" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.TimeZoneTransitionType">
    insert into time_zone_transition_type (Time_zone_id, Transition_type_id, Offset, 
      Is_DST, Abbreviation)
    values (#{timeZoneId,jdbcType=INTEGER}, #{transitionTypeId,jdbcType=INTEGER}, #{offset,jdbcType=INTEGER}, 
      #{isDst,jdbcType=TINYINT}, #{abbreviation,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.TimeZoneTransitionType">
    insert into time_zone_transition_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        Time_zone_id,
      </if>
      <if test="transitionTypeId != null">
        Transition_type_id,
      </if>
      <if test="offset != null">
        Offset,
      </if>
      <if test="isDst != null">
        Is_DST,
      </if>
      <if test="abbreviation != null">
        Abbreviation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        #{timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="transitionTypeId != null">
        #{transitionTypeId,jdbcType=INTEGER},
      </if>
      <if test="offset != null">
        #{offset,jdbcType=INTEGER},
      </if>
      <if test="isDst != null">
        #{isDst,jdbcType=TINYINT},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>