<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.WaitsByHostByLatencyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.WaitsByHostByLatency">
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="total" jdbcType="BIGINT" property="total" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.WaitsByHostByLatencyWithBLOBs">
    <result column="total_latency" jdbcType="LONGVARCHAR" property="totalLatency" />
    <result column="avg_latency" jdbcType="LONGVARCHAR" property="avgLatency" />
    <result column="max_latency" jdbcType="LONGVARCHAR" property="maxLatency" />
  </resultMap>
  <sql id="Blob_Column_List">
    total_latency, avg_latency, max_latency
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.WaitsByHostByLatencyWithBLOBs">
    insert into waits_by_host_by_latency (host, event, total, 
      total_latency, avg_latency, max_latency
      )
    values (#{host,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, 
      #{totalLatency,jdbcType=LONGVARCHAR}, #{avgLatency,jdbcType=LONGVARCHAR}, #{maxLatency,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.WaitsByHostByLatencyWithBLOBs">
    insert into waits_by_host_by_latency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        host,
      </if>
      <if test="event != null">
        event,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalLatency != null">
        total_latency,
      </if>
      <if test="avgLatency != null">
        avg_latency,
      </if>
      <if test="maxLatency != null">
        max_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="event != null">
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null">
        #{totalLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="avgLatency != null">
        #{avgLatency,jdbcType=LONGVARCHAR},
      </if>
      <if test="maxLatency != null">
        #{maxLatency,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>