<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XHostSummaryByStatementLatencyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XHostSummaryByStatementLatency">
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="total_latency" jdbcType="DECIMAL" property="totalLatency" />
    <result column="max_latency" jdbcType="BIGINT" property="maxLatency" />
    <result column="lock_latency" jdbcType="DECIMAL" property="lockLatency" />
    <result column="rows_sent" jdbcType="DECIMAL" property="rowsSent" />
    <result column="rows_examined" jdbcType="DECIMAL" property="rowsExamined" />
    <result column="rows_affected" jdbcType="DECIMAL" property="rowsAffected" />
    <result column="full_scans" jdbcType="DECIMAL" property="fullScans" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XHostSummaryByStatementLatency">
    insert into x$host_summary_by_statement_latency (host, total, total_latency, 
      max_latency, lock_latency, rows_sent, 
      rows_examined, rows_affected, full_scans
      )
    values (#{host,jdbcType=VARCHAR}, #{total,jdbcType=DECIMAL}, #{totalLatency,jdbcType=DECIMAL}, 
      #{maxLatency,jdbcType=BIGINT}, #{lockLatency,jdbcType=DECIMAL}, #{rowsSent,jdbcType=DECIMAL}, 
      #{rowsExamined,jdbcType=DECIMAL}, #{rowsAffected,jdbcType=DECIMAL}, #{fullScans,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XHostSummaryByStatementLatency">
    insert into x$host_summary_by_statement_latency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        host,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalLatency != null">
        total_latency,
      </if>
      <if test="maxLatency != null">
        max_latency,
      </if>
      <if test="lockLatency != null">
        lock_latency,
      </if>
      <if test="rowsSent != null">
        rows_sent,
      </if>
      <if test="rowsExamined != null">
        rows_examined,
      </if>
      <if test="rowsAffected != null">
        rows_affected,
      </if>
      <if test="fullScans != null">
        full_scans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="totalLatency != null">
        #{totalLatency,jdbcType=DECIMAL},
      </if>
      <if test="maxLatency != null">
        #{maxLatency,jdbcType=BIGINT},
      </if>
      <if test="lockLatency != null">
        #{lockLatency,jdbcType=DECIMAL},
      </if>
      <if test="rowsSent != null">
        #{rowsSent,jdbcType=DECIMAL},
      </if>
      <if test="rowsExamined != null">
        #{rowsExamined,jdbcType=DECIMAL},
      </if>
      <if test="rowsAffected != null">
        #{rowsAffected,jdbcType=DECIMAL},
      </if>
      <if test="fullScans != null">
        #{fullScans,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>