<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XHostSummaryByStagesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XHostSummaryByStages">
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="total" jdbcType="BIGINT" property="total" />
    <result column="total_latency" jdbcType="BIGINT" property="totalLatency" />
    <result column="avg_latency" jdbcType="BIGINT" property="avgLatency" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XHostSummaryByStages">
    insert into x$host_summary_by_stages (host, event_name, total, 
      total_latency, avg_latency)
    values (#{host,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, #{total,jdbcType=BIGINT}, 
      #{totalLatency,jdbcType=BIGINT}, #{avgLatency,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XHostSummaryByStages">
    insert into x$host_summary_by_stages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        host,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalLatency != null">
        total_latency,
      </if>
      <if test="avgLatency != null">
        avg_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null">
        #{totalLatency,jdbcType=BIGINT},
      </if>
      <if test="avgLatency != null">
        #{avgLatency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>