<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XInnodbLockWaitsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XInnodbLockWaits">
    <result column="wait_started" jdbcType="TIMESTAMP" property="waitStarted" />
    <result column="wait_age" jdbcType="TIME" property="waitAge" />
    <result column="wait_age_secs" jdbcType="BIGINT" property="waitAgeSecs" />
    <result column="locked_table" jdbcType="VARCHAR" property="lockedTable" />
    <result column="locked_index" jdbcType="VARCHAR" property="lockedIndex" />
    <result column="locked_type" jdbcType="VARCHAR" property="lockedType" />
    <result column="waiting_trx_id" jdbcType="VARCHAR" property="waitingTrxId" />
    <result column="waiting_trx_started" jdbcType="TIMESTAMP" property="waitingTrxStarted" />
    <result column="waiting_trx_age" jdbcType="TIME" property="waitingTrxAge" />
    <result column="waiting_trx_rows_locked" jdbcType="BIGINT" property="waitingTrxRowsLocked" />
    <result column="waiting_trx_rows_modified" jdbcType="BIGINT" property="waitingTrxRowsModified" />
    <result column="waiting_pid" jdbcType="BIGINT" property="waitingPid" />
    <result column="waiting_query" jdbcType="VARCHAR" property="waitingQuery" />
    <result column="waiting_lock_id" jdbcType="VARCHAR" property="waitingLockId" />
    <result column="waiting_lock_mode" jdbcType="VARCHAR" property="waitingLockMode" />
    <result column="blocking_trx_id" jdbcType="VARCHAR" property="blockingTrxId" />
    <result column="blocking_pid" jdbcType="BIGINT" property="blockingPid" />
    <result column="blocking_query" jdbcType="VARCHAR" property="blockingQuery" />
    <result column="blocking_lock_id" jdbcType="VARCHAR" property="blockingLockId" />
    <result column="blocking_lock_mode" jdbcType="VARCHAR" property="blockingLockMode" />
    <result column="blocking_trx_started" jdbcType="TIMESTAMP" property="blockingTrxStarted" />
    <result column="blocking_trx_age" jdbcType="TIME" property="blockingTrxAge" />
    <result column="blocking_trx_rows_locked" jdbcType="BIGINT" property="blockingTrxRowsLocked" />
    <result column="blocking_trx_rows_modified" jdbcType="BIGINT" property="blockingTrxRowsModified" />
    <result column="sql_kill_blocking_query" jdbcType="VARCHAR" property="sqlKillBlockingQuery" />
    <result column="sql_kill_blocking_connection" jdbcType="VARCHAR" property="sqlKillBlockingConnection" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XInnodbLockWaits">
    insert into x$innodb_lock_waits (wait_started, wait_age, wait_age_secs, 
      locked_table, locked_index, locked_type, 
      waiting_trx_id, waiting_trx_started, waiting_trx_age, 
      waiting_trx_rows_locked, waiting_trx_rows_modified, 
      waiting_pid, waiting_query, waiting_lock_id, 
      waiting_lock_mode, blocking_trx_id, blocking_pid, 
      blocking_query, blocking_lock_id, blocking_lock_mode, 
      blocking_trx_started, blocking_trx_age, blocking_trx_rows_locked, 
      blocking_trx_rows_modified, sql_kill_blocking_query, 
      sql_kill_blocking_connection)
    values (#{waitStarted,jdbcType=TIMESTAMP}, #{waitAge,jdbcType=TIME}, #{waitAgeSecs,jdbcType=BIGINT}, 
      #{lockedTable,jdbcType=VARCHAR}, #{lockedIndex,jdbcType=VARCHAR}, #{lockedType,jdbcType=VARCHAR}, 
      #{waitingTrxId,jdbcType=VARCHAR}, #{waitingTrxStarted,jdbcType=TIMESTAMP}, #{waitingTrxAge,jdbcType=TIME}, 
      #{waitingTrxRowsLocked,jdbcType=BIGINT}, #{waitingTrxRowsModified,jdbcType=BIGINT}, 
      #{waitingPid,jdbcType=BIGINT}, #{waitingQuery,jdbcType=VARCHAR}, #{waitingLockId,jdbcType=VARCHAR}, 
      #{waitingLockMode,jdbcType=VARCHAR}, #{blockingTrxId,jdbcType=VARCHAR}, #{blockingPid,jdbcType=BIGINT}, 
      #{blockingQuery,jdbcType=VARCHAR}, #{blockingLockId,jdbcType=VARCHAR}, #{blockingLockMode,jdbcType=VARCHAR}, 
      #{blockingTrxStarted,jdbcType=TIMESTAMP}, #{blockingTrxAge,jdbcType=TIME}, #{blockingTrxRowsLocked,jdbcType=BIGINT}, 
      #{blockingTrxRowsModified,jdbcType=BIGINT}, #{sqlKillBlockingQuery,jdbcType=VARCHAR}, 
      #{sqlKillBlockingConnection,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XInnodbLockWaits">
    insert into x$innodb_lock_waits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="waitStarted != null">
        wait_started,
      </if>
      <if test="waitAge != null">
        wait_age,
      </if>
      <if test="waitAgeSecs != null">
        wait_age_secs,
      </if>
      <if test="lockedTable != null">
        locked_table,
      </if>
      <if test="lockedIndex != null">
        locked_index,
      </if>
      <if test="lockedType != null">
        locked_type,
      </if>
      <if test="waitingTrxId != null">
        waiting_trx_id,
      </if>
      <if test="waitingTrxStarted != null">
        waiting_trx_started,
      </if>
      <if test="waitingTrxAge != null">
        waiting_trx_age,
      </if>
      <if test="waitingTrxRowsLocked != null">
        waiting_trx_rows_locked,
      </if>
      <if test="waitingTrxRowsModified != null">
        waiting_trx_rows_modified,
      </if>
      <if test="waitingPid != null">
        waiting_pid,
      </if>
      <if test="waitingQuery != null">
        waiting_query,
      </if>
      <if test="waitingLockId != null">
        waiting_lock_id,
      </if>
      <if test="waitingLockMode != null">
        waiting_lock_mode,
      </if>
      <if test="blockingTrxId != null">
        blocking_trx_id,
      </if>
      <if test="blockingPid != null">
        blocking_pid,
      </if>
      <if test="blockingQuery != null">
        blocking_query,
      </if>
      <if test="blockingLockId != null">
        blocking_lock_id,
      </if>
      <if test="blockingLockMode != null">
        blocking_lock_mode,
      </if>
      <if test="blockingTrxStarted != null">
        blocking_trx_started,
      </if>
      <if test="blockingTrxAge != null">
        blocking_trx_age,
      </if>
      <if test="blockingTrxRowsLocked != null">
        blocking_trx_rows_locked,
      </if>
      <if test="blockingTrxRowsModified != null">
        blocking_trx_rows_modified,
      </if>
      <if test="sqlKillBlockingQuery != null">
        sql_kill_blocking_query,
      </if>
      <if test="sqlKillBlockingConnection != null">
        sql_kill_blocking_connection,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="waitStarted != null">
        #{waitStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="waitAge != null">
        #{waitAge,jdbcType=TIME},
      </if>
      <if test="waitAgeSecs != null">
        #{waitAgeSecs,jdbcType=BIGINT},
      </if>
      <if test="lockedTable != null">
        #{lockedTable,jdbcType=VARCHAR},
      </if>
      <if test="lockedIndex != null">
        #{lockedIndex,jdbcType=VARCHAR},
      </if>
      <if test="lockedType != null">
        #{lockedType,jdbcType=VARCHAR},
      </if>
      <if test="waitingTrxId != null">
        #{waitingTrxId,jdbcType=VARCHAR},
      </if>
      <if test="waitingTrxStarted != null">
        #{waitingTrxStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="waitingTrxAge != null">
        #{waitingTrxAge,jdbcType=TIME},
      </if>
      <if test="waitingTrxRowsLocked != null">
        #{waitingTrxRowsLocked,jdbcType=BIGINT},
      </if>
      <if test="waitingTrxRowsModified != null">
        #{waitingTrxRowsModified,jdbcType=BIGINT},
      </if>
      <if test="waitingPid != null">
        #{waitingPid,jdbcType=BIGINT},
      </if>
      <if test="waitingQuery != null">
        #{waitingQuery,jdbcType=VARCHAR},
      </if>
      <if test="waitingLockId != null">
        #{waitingLockId,jdbcType=VARCHAR},
      </if>
      <if test="waitingLockMode != null">
        #{waitingLockMode,jdbcType=VARCHAR},
      </if>
      <if test="blockingTrxId != null">
        #{blockingTrxId,jdbcType=VARCHAR},
      </if>
      <if test="blockingPid != null">
        #{blockingPid,jdbcType=BIGINT},
      </if>
      <if test="blockingQuery != null">
        #{blockingQuery,jdbcType=VARCHAR},
      </if>
      <if test="blockingLockId != null">
        #{blockingLockId,jdbcType=VARCHAR},
      </if>
      <if test="blockingLockMode != null">
        #{blockingLockMode,jdbcType=VARCHAR},
      </if>
      <if test="blockingTrxStarted != null">
        #{blockingTrxStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="blockingTrxAge != null">
        #{blockingTrxAge,jdbcType=TIME},
      </if>
      <if test="blockingTrxRowsLocked != null">
        #{blockingTrxRowsLocked,jdbcType=BIGINT},
      </if>
      <if test="blockingTrxRowsModified != null">
        #{blockingTrxRowsModified,jdbcType=BIGINT},
      </if>
      <if test="sqlKillBlockingQuery != null">
        #{sqlKillBlockingQuery,jdbcType=VARCHAR},
      </if>
      <if test="sqlKillBlockingConnection != null">
        #{sqlKillBlockingConnection,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>