<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XMemoryGlobalTotalMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XMemoryGlobalTotal">
    <result column="total_allocated" jdbcType="DECIMAL" property="totalAllocated" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XMemoryGlobalTotal">
    insert into x$memory_global_total (total_allocated)
    values (#{totalAllocated,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XMemoryGlobalTotal">
    insert into x$memory_global_total
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="totalAllocated != null">
        total_allocated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="totalAllocated != null">
        #{totalAllocated,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>