<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XSchemaTablesWithFullTableScansMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XSchemaTablesWithFullTableScans">
    <result column="object_schema" jdbcType="VARCHAR" property="objectSchema" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="rows_full_scanned" jdbcType="BIGINT" property="rowsFullScanned" />
    <result column="latency" jdbcType="BIGINT" property="latency" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XSchemaTablesWithFullTableScans">
    insert into x$schema_tables_with_full_table_scans (object_schema, object_name, rows_full_scanned, 
      latency)
    values (#{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{rowsFullScanned,jdbcType=BIGINT}, 
      #{latency,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XSchemaTablesWithFullTableScans">
    insert into x$schema_tables_with_full_table_scans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectSchema != null">
        object_schema,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="rowsFullScanned != null">
        rows_full_scanned,
      </if>
      <if test="latency != null">
        latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="rowsFullScanned != null">
        #{rowsFullScanned,jdbcType=BIGINT},
      </if>
      <if test="latency != null">
        #{latency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>