<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XStatementsWithRuntimesIn95thPercentileMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XStatementsWithRuntimesIn95thPercentile">
    <result column="db" jdbcType="VARCHAR" property="db" />
    <result column="full_scan" jdbcType="VARCHAR" property="fullScan" />
    <result column="exec_count" jdbcType="BIGINT" property="execCount" />
    <result column="err_count" jdbcType="BIGINT" property="errCount" />
    <result column="warn_count" jdbcType="BIGINT" property="warnCount" />
    <result column="total_latency" jdbcType="BIGINT" property="totalLatency" />
    <result column="max_latency" jdbcType="BIGINT" property="maxLatency" />
    <result column="avg_latency" jdbcType="BIGINT" property="avgLatency" />
    <result column="rows_sent" jdbcType="BIGINT" property="rowsSent" />
    <result column="rows_sent_avg" jdbcType="DECIMAL" property="rowsSentAvg" />
    <result column="rows_examined" jdbcType="BIGINT" property="rowsExamined" />
    <result column="rows_examined_avg" jdbcType="DECIMAL" property="rowsExaminedAvg" />
    <result column="first_seen" jdbcType="TIMESTAMP" property="firstSeen" />
    <result column="last_seen" jdbcType="TIMESTAMP" property="lastSeen" />
    <result column="digest" jdbcType="VARCHAR" property="digest" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.Model.XStatementsWithRuntimesIn95thPercentile">
    <result column="query" jdbcType="LONGVARCHAR" property="query" />
  </resultMap>
  <sql id="Blob_Column_List">
    query
  </sql>
  <insert id="insert" parameterType="com.example.demo.Model.XStatementsWithRuntimesIn95thPercentile">
    insert into x$statements_with_runtimes_in_95th_percentile (db, full_scan, exec_count, 
      err_count, warn_count, total_latency, 
      max_latency, avg_latency, rows_sent, 
      rows_sent_avg, rows_examined, rows_examined_avg, 
      first_seen, last_seen, digest, 
      query)
    values (#{db,jdbcType=VARCHAR}, #{fullScan,jdbcType=VARCHAR}, #{execCount,jdbcType=BIGINT}, 
      #{errCount,jdbcType=BIGINT}, #{warnCount,jdbcType=BIGINT}, #{totalLatency,jdbcType=BIGINT}, 
      #{maxLatency,jdbcType=BIGINT}, #{avgLatency,jdbcType=BIGINT}, #{rowsSent,jdbcType=BIGINT}, 
      #{rowsSentAvg,jdbcType=DECIMAL}, #{rowsExamined,jdbcType=BIGINT}, #{rowsExaminedAvg,jdbcType=DECIMAL}, 
      #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}, #{digest,jdbcType=VARCHAR}, 
      #{query,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XStatementsWithRuntimesIn95thPercentile">
    insert into x$statements_with_runtimes_in_95th_percentile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="db != null">
        db,
      </if>
      <if test="fullScan != null">
        full_scan,
      </if>
      <if test="execCount != null">
        exec_count,
      </if>
      <if test="errCount != null">
        err_count,
      </if>
      <if test="warnCount != null">
        warn_count,
      </if>
      <if test="totalLatency != null">
        total_latency,
      </if>
      <if test="maxLatency != null">
        max_latency,
      </if>
      <if test="avgLatency != null">
        avg_latency,
      </if>
      <if test="rowsSent != null">
        rows_sent,
      </if>
      <if test="rowsSentAvg != null">
        rows_sent_avg,
      </if>
      <if test="rowsExamined != null">
        rows_examined,
      </if>
      <if test="rowsExaminedAvg != null">
        rows_examined_avg,
      </if>
      <if test="firstSeen != null">
        first_seen,
      </if>
      <if test="lastSeen != null">
        last_seen,
      </if>
      <if test="digest != null">
        digest,
      </if>
      <if test="query != null">
        query,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="db != null">
        #{db,jdbcType=VARCHAR},
      </if>
      <if test="fullScan != null">
        #{fullScan,jdbcType=VARCHAR},
      </if>
      <if test="execCount != null">
        #{execCount,jdbcType=BIGINT},
      </if>
      <if test="errCount != null">
        #{errCount,jdbcType=BIGINT},
      </if>
      <if test="warnCount != null">
        #{warnCount,jdbcType=BIGINT},
      </if>
      <if test="totalLatency != null">
        #{totalLatency,jdbcType=BIGINT},
      </if>
      <if test="maxLatency != null">
        #{maxLatency,jdbcType=BIGINT},
      </if>
      <if test="avgLatency != null">
        #{avgLatency,jdbcType=BIGINT},
      </if>
      <if test="rowsSent != null">
        #{rowsSent,jdbcType=BIGINT},
      </if>
      <if test="rowsSentAvg != null">
        #{rowsSentAvg,jdbcType=DECIMAL},
      </if>
      <if test="rowsExamined != null">
        #{rowsExamined,jdbcType=BIGINT},
      </if>
      <if test="rowsExaminedAvg != null">
        #{rowsExaminedAvg,jdbcType=DECIMAL},
      </if>
      <if test="firstSeen != null">
        #{firstSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSeen != null">
        #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null">
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="query != null">
        #{query,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>