<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XUserSummaryByFileIoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XUserSummaryByFileIo">
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="ios" jdbcType="DECIMAL" property="ios" />
    <result column="io_latency" jdbcType="DECIMAL" property="ioLatency" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XUserSummaryByFileIo">
    insert into x$user_summary_by_file_io (user, ios, io_latency
      )
    values (#{user,jdbcType=VARCHAR}, #{ios,jdbcType=DECIMAL}, #{ioLatency,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XUserSummaryByFileIo">
    insert into x$user_summary_by_file_io
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        user,
      </if>
      <if test="ios != null">
        ios,
      </if>
      <if test="ioLatency != null">
        io_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="ios != null">
        #{ios,jdbcType=DECIMAL},
      </if>
      <if test="ioLatency != null">
        #{ioLatency,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>