<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.XWaitClassesGlobalByLatencyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.Model.XWaitClassesGlobalByLatency">
    <result column="event_class" jdbcType="VARCHAR" property="eventClass" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="total_latency" jdbcType="DECIMAL" property="totalLatency" />
    <result column="min_latency" jdbcType="BIGINT" property="minLatency" />
    <result column="avg_latency" jdbcType="DECIMAL" property="avgLatency" />
    <result column="max_latency" jdbcType="BIGINT" property="maxLatency" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.Model.XWaitClassesGlobalByLatency">
    insert into x$wait_classes_global_by_latency (event_class, total, total_latency, 
      min_latency, avg_latency, max_latency
      )
    values (#{eventClass,jdbcType=VARCHAR}, #{total,jdbcType=DECIMAL}, #{totalLatency,jdbcType=DECIMAL}, 
      #{minLatency,jdbcType=BIGINT}, #{avgLatency,jdbcType=DECIMAL}, #{maxLatency,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.Model.XWaitClassesGlobalByLatency">
    insert into x$wait_classes_global_by_latency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventClass != null">
        event_class,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalLatency != null">
        total_latency,
      </if>
      <if test="minLatency != null">
        min_latency,
      </if>
      <if test="avgLatency != null">
        avg_latency,
      </if>
      <if test="maxLatency != null">
        max_latency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventClass != null">
        #{eventClass,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="totalLatency != null">
        #{totalLatency,jdbcType=DECIMAL},
      </if>
      <if test="minLatency != null">
        #{minLatency,jdbcType=BIGINT},
      </if>
      <if test="avgLatency != null">
        #{avgLatency,jdbcType=DECIMAL},
      </if>
      <if test="maxLatency != null">
        #{maxLatency,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>